<!-- Modal -->
<div class="modal fade" id="searchHelpWidget" tabindex="-1" role="dialog"
     aria-labelledby="searchHelpWidget" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #2C3E50">
            <div class="modal-header" style="border: none">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search Help</h4>
            </div>

            <!--todo: add option to finalise submission. this means the creation of data records. Can also be updated in theory...? -->

            <div class="modal-body" style="color: white">

                <div align="center" id="delete-confirm">
                    <p>Aside from the basic search functionalities, you can also
                        form more complex queries such as those below.</p>

                    <div class="well well-small">
                        <p>Search on title</p>
                    </div>

                    <div class="clearfix"></div>

                    <div class="well well-small">
                        <p>Search by keywords</p>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
