<!-- Modal -->
<div class="modal fade" id="searchHelpWidget" tabindex="-1" role="dialog"
     aria-labelledby="searchHelpWidget" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Advanced Search Tips</h4>
            </div>

            <div class="modal-body">


                <p>When you search on a word, e.g. 'collisions', we will automatically search across everything we store
                  about a record. But, sometimes you may wish to be more specific. Here we show you how.</p>

                <p>Guidance on the query string syntax can be found in the
                  <a href='https://www.elastic.co/guide/en/elasticsearch/reference/7.1/query-dsl-query-string-query.html#query-string-syntax'
                     target="_new">Elasticsearch documentation</a>.</p>

                <div class="well well-small">
                    <h4>Search on title or abstract</h4>
                    <ul>
                        <li>Find all data with <em>collisions</em> in the <strong>title</strong>
                            <br/>

                            <ul>
                                <li>
                                    <a href='/search?q=title:collisions' target="_new">title:collisions</a>
                                </li>
                            </ul>
                        </li>
                        <br/>
                        <li>Find all data with <em>"lepton-jet resonances"</em> in the <strong>abstract</strong>
                            <ul>
                                <li>
                                    <a href='/search?q=abstract:"baryon production"' target="_new">abstract:"lepton-jet resonances"</a>
                                    <br/><span class="text-muted">Unless the string is in quotes, we will search for all records with lepton-jet OR resonances in the abstract. Quotes force a full match.</span>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="clearfix"></div>

                <div class="well well-small">
                    <h4>Search by keywords</h4>
                    <ul>
                        <li>Find all data with the <strong>phrase</strong> <em>injection</em> or <em>"elastic
                            scattering"</em>
                            <ul>
                                <li>
                                    <a href='/search?q=phrases:injection OR phrases:"elastic scattering"' target="_new">phrases:injection
                                        OR phrases:"elastic scattering"</a>
                                </li>
                            </ul>
                        </li>
                        <br/>
                        <li>Find all data with the <em>P P --> LQ LQ X</em> <strong>reaction</strong>
                            <ul>
                                <li>
                                    <a href='/search?q=reactions:"P P --> LQ LQ X"' target="_new">reactions:"P P --> LQ
                                        LQ X"</a>
                                </li>
                            </ul>
                        </li>
                        <br/>
                        <li>Find data by <strong>CM Energy</strong> (in GeV):
                            <ul>
                                <li>
                                    <a href='/search?q=cmenergies:1.34' target="_new">cmenergies:1.34</a>
                                </li>
                                <li>
                                    <a href='/search?q=cmenergies:[1.3 TO 1.4]' target="_new">cmenergies:[1.3 TO 1.4]</a>
                                    <span class="text-muted">
                                        (inclusive range, i.e. 1.3 &#8804; &#8730; s &#8804; 1.4)
                                    </span>
                                </li>
                                <li>
                                    <a href='/search?q=cmenergies:{1.3 TO 1.4}' target="_new">cmenergies:{1.3 TO 1.4}</a>
                                    <span class="text-muted">
                                        (exclusive range, i.e. 1.3 &lt; &#8730; s &lt; 1.4)
                                    </span>
                                </li>
                                <li>
                                    <a href='/search?q=cmenergies:[1.3 TO 1.4}' target="_new">cmenergies:[1.3 TO 1.4}</a>
                                    <span class="text-muted">
                                        (half-open range, i.e. 1.3 &#8804; &#8730; s &lt; 1.4)
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <br/>
                        <li>Find all data with <strong>observable</strong> <em>ASYM</em>
                            <ul>
                                <li><a href='/search?q=observables:ASYM'>observables:ASYM</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>

                <div class="well well-small">
                    <h4>Other useful searches</h4>
                    <ul>
                        <li>Find all data with <em>neutron energy</em> in the <strong>title</strong> AND the <strong>CM energy</strong> of <em>7000 GeV</em>
                            <ul>
                                <li>
                                    <a href='/search?q=title:"neutron energy" AND cmenergies:7000.0'
                                       target="_new">title:"neutron energy" AND cmenergies:7000.0</a>
                                </li>
                            </ul>
                        </li>
                        <br/>
                        <li>Find all data from the <strong>collaborations</strong> <em>D0</em> OR <em>ATLAS</em>
                            <ul>
                                <li>
                                    <a href='/search?q=collaborations:"D0" OR collaborations:"ATLAS"'
                                       target="_new">collaborations:"D0" OR collaborations:"ATLAS"</a>
                                </li>
                            </ul>
                        </li>
                        <br/>
                        <li>Find all data where there is an author from <strong>Fermilab</strong>.
                            <ul>
                                <li>
                                    <a href='/search?q=authors.affiliation:"Fermilab"'
                                       target="_new">authors.affiliation:"Fermilab"</a>
                                </li>
                            </ul>
                        </li>
                        <br/>
                        <li>All papers from <strong>year</strong> <em>2015</em> from the <strong>collaboration</strong> <emph>LHCf</emph> with the <strong>reaction</strong> <em>P P --> N X</em>.
                            <ul>
                                <li>
                                    <a href='/search?q=year:2015 AND collaborations:LHCf AND reactions:"P P --> N X"'
                                       target="_new">year:2015 AND collaborations:LHCf AND reactions:"P P --> N X"</a>
                                </li>
                            </ul>
                        </li>
                        <br/>
                        <li>
                            Find a record by the <a href="https://inspirehep.net" target="_blank">Inspire</a> record number, journal DOI, or HEPData DOI.
                            <ul>
                                <li>
                                    <a href='/search?q=inspire_id:513337' target="_new">inspire_id:513337</a>
                                </li>
                                <li>
                                    <a href='/search?q=doi:"10.1007/s100520000432"' target="_new">doi:"10.1007/s100520000432"</a>
                                </li>
                                <li>
                                    <a href='/search?q=hepdata_doi:"10.17182/hepdata.12882"' target="_new">hepdata_doi:"10.17182/hepdata.12882"</a>
                                </li>
                            </ul>
                            Note that the DOI strings need to be enclosed in quotation marks.
                            <br/>
                            The field names can be omitted as they will be queried in a full-text search.
                            <ul>
                                <li>
                                    <a href='/search?q=513337' target="_new">513337</a>
                                </li>
                                <li>
                                    <a href='/search?q="10.1007/s100520000432"' target="_new">"10.1007/s100520000432"</a>
                                </li>
                                <li>
                                    <a href='/search?q="10.17182/hepdata.12882"' target="_new">"10.17182/hepdata.12882"</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>

                <div class="well well-small">
                    <h4>Searching via Inspire</h4>
                    <ul>
                        <li>Search <a href="https://inspirehep.net" target="_blank">Inspire</a> for records that have a corresponding HEPData entry.
                            <ul>
                                <li>
                                    <a href='https://inspirehep.net/literature?q=external_system_identifiers.schema:HEPData'
                                       target="_new">external_system_identifiers.schema:HEPData</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
