@import "variables";

body {
  background-color: $navy;
  color: white;
}

a {
  color:white;
  font-weight:bolder;
  &:hover {
    color: $lightgrey;
  }
}

.top-bar {

  background-color: $navy !important;
  border-bottom: $navy-light 3px solid;
}

.hep_logo {
  background-image: url("/static/img/hepdata_logo_darkbg.svg") !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.submit {
  background-color: $purple;
  padding: 6px 10px;
}

p {
  font-size: 1.3em;
  font-weight: lighter
}

.menu ul li a {
  color: white;
}

.talks {
  list-style: none;
  -webkit-padding-start: 0;
  li {
    width: 320px;
    margin: 0 auto;
    background-color: $navy-light;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;

    p {
      margin: 0px;
      font-size: .9em;
    }

    .title {
      font-weight: bolder;
    }

  }
}
