@import "variables";

body {
  background-color: $darker-blue;
  color: white;
}

a {
  color: white;
  font-weight: bolder;
  &:hover {
    color: $lightgrey;
  }
}

.top-bar {

  background-color: $darker-blue !important;
  border-bottom: $navy 3px solid;
}

.hep_logo {
  background-image: url("/static/img/hepdata_logo_darkbg.svg") !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.submit {
  background-color: $purple;
  padding: 6px 10px;
}

p {
  font-size: 1.3em;
  font-weight: lighter
}

.menu ul li a {
  color: white;
}

.talks {
  list-style: none;
  -webkit-padding-start: 0;
  li {
    width: 320px;
    margin: 0 auto;
    background-color: $dark-blue;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;

    p {
      margin: 0px;
      font-size: .9em;
    }

    .title {
      font-weight: bolder;
    }

  }
}

.filter {

  padding-bottom: 2em;
  width: 100%;

  input {
    border: none;
    background: $navy url(/static/img/icons/icon_filter.svg) 8px 10px no-repeat;
    background-size: 23px;
    padding: 10px 10px 10px 35px;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    margin: 0 auto;
  }
}

.filter-list {

  list-style: none;
  padding-left: 0;

  li {
    padding: 20px;
    font-weight: normal;
  }
}

.btn-default {
  color: #fff;
  background-color: $dark-blue;
  border-color: $dark-blue;

  &:hover {
    background-color: $darker-blue;
    border-color: $darker-blue;
    color: white;
  }
}

