
.team-member {
  height: 280px;
  width: 230px;
  background-color: white;

  float: left;
  display: inline-block;
  margin: 10px;

  .role {
    font-weight: bolder;
  }

  .team-member-image {
    height: 200px;
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .6s ease;
    background-size: cover;

    &:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }

  .team-member-detail {
    padding: 10px;
    a {
      font-weight: bold;
      color: $purple;
      font-size: 1.1em;
    }
    span {
      color: $grey;
    }
  }

}

.section-header {
  text-align: center;
  margin: 0 auto;
  width: 200px;

  p {
    font-size: 1.1em;
    border-bottom: 2px solid $purple;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: normal;
  }
}
