.paper-submission-area {
  width: 400px;
  margin: 0 auto;
  margin-top: 13em;
  text-align: center;
  overflow-y: hidden;
  min-height: 600px;
}

.input-text-box {
  border: none;
  padding: 5px;
}

.progress-circle {

  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: $lightgrey;
  color: $grey;
  font-size: 2.6em;
  padding-top: .6em;
}

.progress-circle.active {
  background-color: $purple;
  color: white;
}

.progress-inspire {
  h4 {
    font-weight: bolder;
    font-size: .8em;
  }
}

.with-error {
  border: 1px solid #e64c3c;
  color: #e64c3c;
}

#publication_title {
  color: $purple;
}

.line {
  height: 30px;
}

.line:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 49%;
  border-left: 2px solid $purple;
}

.submission-stage {
  background-color: $lightgrey;
  border-radius: 3px;
  margin-bottom: 5px;
  min-height: 120px;
}

#has_inspire_id {
  padding: 10px;
  background-color: white;
}

#enter_inspire_id, #enter_title {
  padding: 25px;
  bottom: -1000px;
  position: relative;
  height: 160px;
  display: none;
}

#enter_inspire_id {
  border-top: 5px solid #4cae4c;
}

#enter_title {
  border-top: 5px solid #d9534f;
}

.publication-info {
  background-color: $lightgrey;
  padding: 10px;
  height: 200px;
  overflow: auto;
}

#inspire_preview, #reviewers_uploaders, #check, #uploader_message {
  bottom: -1000px;
  position: relative;
  display: none;
}

#inspire-result, #check {
  padding: 10px;
}

#reviewers_uploaders .submission-stage, #check .submission-stage {
  padding: 30px;
}

.uploader-message {
  width: 100%;
  background-color: #f1f6f7;
  border: none;
  border-radius: 4px;
  height: 125px;
  padding: 5px;
}
