<div id="uploaders_reviewers">
    <div id="uploader_details" class="row submission-stage"
         style="min-height: 140px; padding: 10px">
        <h4><i class="fa fa-upload"></i> Uploader</h4>

        <div class="col-md-6">
            <label for="uploader_name">Name</label><br/>
            <input id="uploader_name" type="text" name="uploader_name"
                   class="input-text-box reviewer-uploader"
                   placeholder="Uploader Name">

        </div>
        <div class="col-md-6">
            <label for="uploader_email">Email</label><br/>
            <input id="uploader_email" type="email" name="uploader_email"
                   class="input-text-box reviewer-uploader"
                   placeholder="Uploader Email">
        </div>
    </div>

    <div class="clearfix"></div>


    <div id="reviewer_details" class="row submission-stage"
         style="min-height: 140px; padding: 10px">
        <h4><i class="fa fa-check"></i> Reviewer</h4>

        <div class="col-md-6">
            <label for="reviewer_name">Name</label><br/>
            <input id="reviewer_name" type="text" name="reviewer_name"
                   class="input-text-box reviewer-uploader"
                   placeholder="Reviewer Name">

        </div>
        <div class="col-md-6">
            <label for="reviewer_email">Email</label><br/>
            <input id="reviewer_email" type="email" name="reviewer_email"
                   class="input-text-box reviewer-uploader"
                   placeholder="Reviewer Email">
        </div>
    </div>
</div>

{{ webpack['hepdata-submission-reviewers-uploaders-js.js'] }}
