<div id="uploaders_reviewers">
    <div id="uploader_details" class="row submission-stage"
         style="min-height: 140px; padding: 10px">
        <h4><i class="fa fa-upload"></i> Uploader</h4>

        <div class="col-md-6">
            <label for="uploader_name">Name</label><br/>
            <input id="uploader_name" type="text" name="uploader_name"
                   class="input-text-box reviewer-uploader"
                   placeholder="Uploader Name">

        </div>
        <div class="col-md-6">
            <label for="uploader_email">Email</label><br/>
            <input id="uploader_email" type="email" name="uploader_email"
                   class="input-text-box reviewer-uploader"
                   placeholder="Uploader Email">
        </div>
    </div>

    <div class="clearfix"></div>


    <div id="reviewer_details" class="row submission-stage"
         style="min-height: 140px; padding: 10px">
        <h4><i class="fa fa-check"></i> Reviewer</h4>

        <div class="col-md-6">
            <label for="reviewer_name">Name</label><br/>
            <input id="reviewer_name" type="text" name="reviewer_name"
                   class="input-text-box reviewer-uploader"
                   placeholder="Reviewer Name">

        </div>
        <div class="col-md-6">
            <label for="reviewer_email">Email</label><br/>
            <input id="reviewer_email" type="email" name="reviewer_email"
                   class="input-text-box reviewer-uploader"
                   placeholder="Reviewer Email">
        </div>
    </div>
</div>

<script>
    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.'+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    $(".reviewer-uploader").on('input', function () {
        var all_valid = true;
        $(".reviewer-uploader").each(function () {
            if ($(this).val().length == 0) {
                all_valid = false;
            } else {
                if ($(this).attr('type') === 'email') {
                    if (!isEmail($(this).val())) {
                        all_valid = false;
                        $(this).addClass("with-error")
                    } else {
                        $(this).removeClass("with-error")
                    }
                }
            }
        });

        if (all_valid) {
            $("#people_continue_btn").prop("disabled", false)
        } else {
            $("#people_continue_btn").prop("disabled", true)
        }
    })
</script>


