[run]
source = hepdata
omit = *hepdata/wsgi.py
       *hepdata/cli.py
       *hepdata/celery.py
       *hepdata/utils/url.py
       *hepdata/utils/twitter.py
       *hepdata/config*
       *hepdata/modules/converter/__init__.py
       *hepdata/modules/permissions/*
       *hepdata/modules/email/*
       *hepdata/modules/*/views.py
