version: "3"
services:
  web:
    build:
      context: .
      args:
        - "APP_ENVIRONMENT=local-web"
    command: hepdata run -h 0.0.0.0 -p 5000 --debugger --reload
    ports:
    - "5000:5000"
    - "5555:5555"
    environment:
    - "APP_ENVIRONMENT=local"
    - "APP_BROKER_URL=redis://cache:6379/0"
    - "APP_CACHE_REDIS_URL=redis://cache:6379/0"
    - "APP_CACHE_TYPE=redis"
    - "APP_CELERY_RESULT_BACKEND=redis://cache:6379/2"
    - "APP_ELASTICSEARCH_HOST=es:9200"
    - "APP_SECRET_KEY=CHANGE_ME"
    - "APP_SESSION_TYPE=redis"
    - "APP_SESSION_REDIS_URL=redis://cache:6379/1"
    - "APP_SQLALCHEMY_DATABASE_URI=postgresql://hepdata:hepdata@db/hepdata"
    - "SAUCE_USERNAME=${SAUCE_USERNAME}"
    - "SAUCE_ACCESS_KEY=${SAUCE_ACCESS_KEY}"
    - "FLASK_ENV=development"
    read_only: false
    volumes:
    - ".:/code"
  worker:
    build: .
    command: "celery worker -A hepdata.celery --loglevel=INFO -Q celery,priority"
    environment:
    - "APP_CELERY_BROKER_URL=redis://cache:6379/0"
    - "APP_CACHE_REDIS_URL=redis://cache:6379/0"
    - "APP_CACHE_TYPE=redis"
    - "APP_CELERY_RESULT_BACKEND=redis://cache:6379/2"
    - "APP_ELASTICSEARCH_HOST=es:9200"
    - "APP_SECRET_KEY=CHANGE_ME"
    - "APP_SESSION_TYPE=redis"
    - "APP_SESSION_REDIS_URL=redis://cache:6379/1"
    - "APP_SQLALCHEMY_DATABASE_URI=postgresql://hepdata:hepdata@db/hepdata"
    read_only: false
    volumes:
    - ".:/code"
  cache:
    image: redis
    read_only: true
    ports:
    - "6379:6379"
  db:
    build: ./docker/db/
    command: postgres
    environment:
    - "POSTGRES_USER=hepdata"
    - "POSTGRES_PASSWORD=hepdata"
    - "POSTGRES_DB=hepdata"
    - "POSTGRES_TEST_DB=hepdata_test"
    ports:
    - "5432:5432"
    read_only: false
  es:
    image: elasticsearch:7.1.1
    read_only: false
    environment:
      - node.name=es01
      - cluster.name=hepdata
      - cluster.initial_master_nodes=es01
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
    - "9200:9200"
  converter:
    image: hepdata/hepdata-converter-ws
    ports:
    - "5500:5000"
    read_only: false
