beautifulsoup4==4.12.3
bleach==6.2.0
datacite==1.2.0
gunicorn==23.0.0
hepdata-converter-ws-client==0.2.2
hepdata-validator==0.3.5
invenio-access[admin]==4.0.0
invenio-assets==4.0.0
invenio-config==1.0.4
invenio-db[postgresql]==2.0.0
invenio-logging[sentry]==4.0.2
invenio-oauthclient==5.0.0
invenio-pidstore==2.0.0
invenio-records==3.0.0
invenio-search[opensearch2]==3.0.0
invenio-userprofiles==4.0.0
python-twitter-v2==0.9.2
responses==0.25.3
unicodeit==0.7.5
