beautifulsoup4==4.12.2
bleach==6.0.0
celery==5.2.7
click==8.1.3
datacite==1.1.3
email-validator==1.3.1
Flask==2.2.3
Flask-CeleryExt==0.5.0
Flask-Cors==3.0.10
Flask-Login==0.6.2
gunicorn==20.1.0
hepdata-converter-ws-client==0.2.2
hepdata-validator==0.3.3
invenio-access==1.4.5     # Indirect (needed by invenio-admin)
invenio-accounts==2.1.0
invenio-admin==1.4.0
invenio-app==1.3.4
invenio-assets==2.0.0
invenio-base==1.2.13
invenio-config==1.0.3
invenio-db==1.0.14
invenio-logging[sentry-sdk]==1.3.2
invenio-oauthclient==2.3.0
invenio-pidstore==1.3.1
invenio-records==2.1.0
invenio-search[opensearch2]==2.2.0
invenio-theme==2.1.1
invenio-userprofiles==2.1.0
jsmin==3.0.1
lxml==4.9.2
MarkupSafe==2.1.2
msgpack==1.0.5
psycopg2==2.9.6
python-dateutil==2.8.2
pyyaml==6.0
requests==2.28.2
responses==0.23.1
speaklater==1.3
SQLAlchemy-Continuum==1.3.14   # Indirect: see https://github.com/inveniosoftware/invenio-records/issues/250
timestring==1.6.4
twitter==1.19.6
unicodeit==0.7.5
werkzeug==2.2.3
