<div class="footer-bar">

    <div id="footer-decor">
        <ul>
            <li class="bg-purple">&nbsp;</li>
            <li class="bg-purple-lighter">&nbsp;</li>
            <li class="bg-purple">Copyright ~1975-Present HEPData, funded by <a href="http://www.stfc.ac.uk/" target="_blank" style="color:white">STFC, UK</a>, developed and hosted at <a href="https://home.cern" target="_blank" style="color:white">CERN</a>, supported by <a href="https://www.ippp.dur.ac.uk/" target="_blank" style="color:white">IPPP Durham</a>. <a href="/terms" target="_new">Terms of Use</a>.</li>
        </ul>
    </div>

    <div id="footer-buttons">
        <ul>
            <a href="mailto:info@hepdata.net" target="_new"><li class="bg-purple-lighter"><span class="fa fa-envelope"></span></li></a>
            <a href="http://twitter.com/HEPData" target="_new"><li class="bg-purple"><span class="fa fa-twitter"></span></li></a>
        </ul>
    </div>
</div>
