<div id="footer" class="footer-home">
    <div class="row">
        <div class="col-md-4" align="center"><a href="https://www.ippp.dur.ac.uk/"
                                                target="_blank"><img
                src="/static/img/about/durham-logo.svg" width="180px"></a>
        </div>
        <div class="col-md-4" align="center"><a href="http://home.cern"
                                                target="_blank"> <img
                src="/static/img/about/cern-logo.svg" width="90px"></a>
        </div>

        <div class="col-md-4" align="center"><a href="http://www.stfc.ac.uk/" target="_blank"><img
                src="/static/img/about/stfc-logo.png" width="250px"></a>
        </div>
    </div>

    <br/>

    <div class="row text-center">
        <div class="col-md-12">


            <p class="footer-links">
                <a href="/permissions/coordinators" target="_new" style="color: white">HEPData Coordinators</a>
                <a href="/about" target="_new" style="color: white">About HEPData</a>
                <a href="/submission" target="_new" style="color: white">Submitting to HEPData</a>
                <a href="/terms" target="_new" style="color: white">HEPData Terms of Use</a>
            </p>

            <p class="footer-links">
                <a href="http://www.twitter.com/hepdata" target="_new" style="color: white">
                    <i class="fa fa-twitter"></i> Twitter</a>
                <a href="http://www.github.com/hepdata" target="_new" style="color: white"><i class="fa fa-github"></i>
                    Github</a>
                <a href="http://www.github.com/hepdata/issues" target="_new" style="color: white"><i
                        class="fa fa-bug"></i> Report an issue</a>
            </p>
            <br/>


            <p>Copyright ~1975-Present, HEPData | Powered by <a href="http://invenio-software.org/"
                                                                target="_blank" style="color:white">Invenio</a>,
                funded by <a href="http://www.stfc.ac.uk/" target="_blank" style="color:white">STFC, UK</a>,
                developed and hosted at <a href="https://home.cern" target="_blank" style="color:white">CERN</a>,
                supported by <a href="https://www.ippp.dur.ac.uk/" target="_blank" style="color:white">IPPP
                    Durham</a>.
            </p>
            {% block version %}
                <p class="version">HEPData version: {{ ctx.version }}</p>
            {% endblock %}
        </div>
    </div>
</div>

<div class="clearfix"></div>
