<div class="footer-bar">

    <div id="footer-decor">
        <ul>
            <li class="bg-purple">&nbsp;</li>
            <li class="bg-purple-lighter">&nbsp;</li>
            <li class="bg-purple">Copyright ~1975-Present, HEPData | Powered by <a href="http://invenio-software.org/" target="_blank" style="color:white">Invenio</a>, funded by <a href="http://www.stfc.ac.uk/" target="_blank" style="color:white">STFC, UK</a>, supported by <a href="https://www.ippp.dur.ac.uk/" target="_blank" style="color:white">IPPP Durham</a>.</li>
        </ul>
    </div>

    <div id="footer-buttons">
        <ul>
            <li class="bg-purple"><a href="/about"><span class="fa fa-info-circle"></span> About</a></li>
            <li class="bg-purple-lighter"><a href="/submission"><span class="fa fa-upload"></span> Submission Guidelines</a></li>
            <li class="bg-purple"><a href="http://twitter.com/HEPData" target="_new"><span class="fa fa-twitter"></span></a></li>
        </ul>
    </div>
</div>
