<nav class="navbar navbar-default navbar-fixed-top top-bar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding: 0" href="/">
                <div class="pull-left hep_logo"></div>
            </a>
        </div>


        <div class="collapse navbar-collapse menu" id="navbar-collapse">

            {% block header_search %}
                <div class="pull-left ">
                    <form class="top-search-form" action="/search">
                        <input type="text" name="q"
                               placeholder="Search HEPData"
                               value="{% if ctx %}{{ ctx.q }}{% endif %}">
                        <button type="submit" class="submit">Search</button>
                    </form>
                </div>
            {% endblock %}

            <ul>
                {%- if current_user.is_authenticated %}
                    {% if user_is_coordinator_or_admin %}
                        <li>
                            <a href="/submit">
                                <span class="fa fa-arrow-up"></span>
                                Submit</a>
                        </li>
                    {% endif %}
                    <li><a href="/record/sandbox"><span
                            class="fa fa-cube"></span> Sandbox</a>
                    </li>
                {%- endif %}



                <li><a href="/about"><span
                        class="fa fa-info-circle"></span> About</a></li>
                <li><a href="/submission"><span
                        class="fa fa-life-ring"></span> Submission Help</a></li>

                {%- if not current_user.is_authenticated %}
                    <li>
                        <a class="" href="{{ url_for_security('login') }}">
                            <i class="fa fa-sign-in"></i> Sign in
                        </a>
                    </li>
                {%- else %}
                    <li>

                        <a href="/dashboard">
                            <i class="fa fa-user"></i>
                                Dashboard
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for_security('logout') }}"><span
                                class="fa fa-power-off"></span> Log out</a>
                    </li>
                {%- endif %}
            </ul>

        </div>
    </div>
</nav>

<div class="clearfix"></div>
