{%- extends config.ACCOUNTS_COVER_TEMPLATE %}

{% from "invenio_accounts/_macros.html" import render_field, form_errors %}
{% from "security/_macros.html" import render_field_with_errors %}

{% block panel %}

    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">

                <h1>Reset password</h1>
                <form action="{{ url_for_security('reset_password', token=reset_password_token) }}"
                      method="POST" name="reset_password_form">
                    {{ reset_password_form.hidden_tag() }}
                    {{ render_field_with_errors(reset_password_form.password) }}
                    {{ render_field_with_errors(reset_password_form.password_confirm) }}
                    <button type="submit"
                            class="btn btn-primary btn-lg btn-block"><i
                            class="fa fa-refresh"></i> Reset Password
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock %}
