body, html {
  &.dashboard {
    background-color: $darker-blue !important;
    height: 100%;

    .tab-list-nav-item {
      &:hover {
        color: $purple;
      }

      a {
        &:visited {
          color: $lightgrey;
        }
      }
    }

    .breadcrumb {
      background-color: #2c3e50;
      padding: 8px 10px;
      border-radius: 4px;
    }

    .filter-section input {
      -webkit-background-size: 9%;
      background-size: 9%;
      color: white;
    }

    .label-info {
      background-color: white;
      color: $darker-blue;
    }

    .dashboard-header {
      background-color: #29394a;
      color: white;
      padding: 20px;
      margin-bottom: 20px;

      h4 {
        margin: 0;
        font-size: 1.8em;
        color: white;
      }
    }

    .dashboard-section {
      background-color: $dark-blue;
      margin: 10px;
      padding: 20px;
      border-radius: 3px;

      h4 {
        color: white;
        font-size: 1.2em;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    .inspire-title {
      a {
        color: $purple;
        &:hover {
          color: $purple-light;
        }
      }
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
      border-top: none;
    }

    .stats-header {
      background-color: $navy-light;
      color: white;
      padding: 10px;
      text-align: center;
    }

    #stats_table {
      color: $navy;
    }

    .status-rect {
      pointer-events: all;
      cursor: pointer;
    }

    .access_plot {

      rect {
        fill: $purple;
      }

    }

    #finalise_container {
      border-top: 2px solid #f6f6f6;
      padding: 1em;
    }

    .profile-container {
      padding: 1em;
      h4 {
        font-weight: bolder;
      }

      .logo img {
        width: 100%;

        @media screen and (max-width: 768px) {
          width: 40%;
          margin-bottom: 20px;
        }
      }

      .action-btns {
        @media screen and (max-width: 768px) {
          margin-top: 20px;
        }
      }

      .email {
        color: $lightgrey;
        font-weight: bolder;
      }

      .user-info {
        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }

      .btn-profile {
        background-color: $darker-blue;
        color: white;
        display: inline-block;
        padding: 8px 6px;
        border: none;
        font-weight: lighter;
        cursor: pointer;
        border-radius: 4px;
        margin: 3px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;

        &.danger {
          background-color: $red-light !important;
          &:hover {
            background-color: $red !important;;
          }
        }

        &:hover {
          background-color: $purple;
          text-decoration: none;
        }
      }
    }

    .no_submissions {
      padding: 2em;
      text-align: center;
      font-size: 2em;
      color: $navy-light;
    }

    #hep-submissions {
      list-style: none;
      -webkit-padding-start: 0px;
      width: 100%;
      padding: 0px;
    }

    .loader {
      padding-top: 60px;
      padding-bottom: 40px;
      width: 200px;
      margin: 0 auto;
    }

    .watch-list, .permission-list {
      padding: 10px;

      .item {
        padding: 10px;
        h4 {
          font-size: 1.1em;
          text-transform: none;
          margin: 0;
        }

        p {
          margin: 0;
        }

        .journal-info {
          font-size: 1em;
        }

        .updated {
          color: $lightgrey;
          font-size: .9em;
        }
      }

      .controls {
        .btn {
          background-color: white;
          color: $red-light;

          &:hover {
            background-color: $red-light;
            color: white;
          }
        }
      }
    }

    .submission-item {
      text-rendering: optimizeLegibility;

      width: 100%;
      display: block;
      border-radius: 4px;
      padding: 20px 0 20px 0;
      color: $navy;

      border-bottom: 2px solid $navy;
      margin-bottom: 4px;

      h4 {
        font-size: 1.1em;
        text-transform: none;
      }
      .start-date {
        color: $lightgrey;
        font-size: 1em;
        font-weight: normal;
        margin: 0
      }

      .status {
        margin: 0;
        color: white;
        text-transform: uppercase;
        font-size: .9em;
      }

      .actions {
        padding-top: 10px;

        .btn {
          margin: 2px;
        }
      }

      .submission-header {
        border-bottom: 2px solid $lightgrey;
        padding: 1em;
        height: 55px;

        button {
          margin-right: 5px;
        }
      }

      .content {
        width: 100%;
        padding: 20px;
        border-radius: 3px;
        color: $navy;

        h4 a {
          color: $navy;
          font-size: 1.1em;
          font-weight: bolder;
          text-transform: capitalize;
        }
      }

      .status {
        width: 100%;
        padding: 5px;
        font-weight: normal;
        border-radius: 3px;
      }

      .in-progress {
        background-color: $orange;
        color: $navy;
        padding: 4px 6px;
        font-size: .8em;
        border-radius: 4px;
      }

      .complete {
        background-color: $green;
        color: white;
        padding: 4px 6px;
        font-size: .8em;
        border-radius: 4px;
      }

      .user-submission-role {
        font-size: .73em;
        font-weight: normal;
        text-transform: uppercase;
        padding: 15px;
        padding-bottom: 30px;
      }
    }

    .role-admin-view {
      font-size: .9em;
      font-weight: normal;
      padding: 15px;
      background-color: $lightgrey;
      border-radius: 0 0 3px 3px;

    }

    .manage-submission-trigger {

      color: white;
      background: $darker-blue;
      border-color: $darker-blue;

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        color: white;
        background-color: $purple;
        border-color: $purple-light;
      }
    }

    .dashboard-messages {
      background-color: transparent;
      border: 1px solid $navy;
      color: $navy;
      padding: 5px 8px;
      border-radius: 2px;
      margin-top: -5px;
      cursor: pointer;
    }

    .final_commit_message {
      width: 100%;
      border-radius: 3px;
      padding: 5px;
    }

    .submission-progress-header {
      font-weight: bolder;
      font-size: .8em;
    }

    .no-uploads {
      font-weight: bolder;
      color: $navy;
    }

    #hepdata_submissions {
      overflow-y: scroll;
    }

    .form-group {
      margin-bottom: 0;
    }

    .filter {

      padding-bottom: 0;
      width: 100%;

      input {
        background-color: $navy;
        background-image: none;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 1.2em;
        margin: 0 auto;
      }

      .tt-input {
        background-image: url(/static/img/icons/icon_filter.svg);
        background-position: 8px 10px;
        background-repeat: no-repeat;
        background-size: 23px;
        padding: 10px 35px;
      }

      .twitter-typeahead {
        width: 100%;
      }

      .tt-menu {
        background-color: white;
        color: $navy;
        text-align: left;
        border-radius: 0 0 5px 5px;
        top: 66% !important;
        width: 100%;
      }

      .tt-suggestion {
        margin: 0;
        padding: 2px 35px;
        font-size: 1.2em;

        &:hover {
          background-color: #894B9D;
          color: #fff;
          cursor: pointer;
        }

        &:last-child {
          border-radius: 0 0 5px 5px;
        }
      }

      .fa {
        position: relative;
        left: 48%;
        top: -30px;
        color: #955BA5;
        font-size: 16px;
      }
    }

    .filter-list li {
      padding-left: 20px;
      font-weight: normal;
    }

    .modal-body {
      color: $navy;
    }

    /*manage modal screen*/
    .manage-review-menu {
      background-color: $lightgrey;
      min-height: 50px;

      ul {
        -webkit-padding-start: 0px;
        list-style: none;
        padding-left: 0px;
        margin: -1px;

        li {
          display: inline;
          width: 50%;
          float: left;
          text-align: center;
          padding: 15px;
          cursor: pointer;
          color: $navy;
        }

        li.active {
          background-color: $purple;
          color: white;
          font-weight: bolder;
        }
      }
    }

    .manage-review-menu {
      li.upl_rev.active:after {
        content: url("/static/img/arrow_down.svg");
        position: absolute;
        left: 24%;
        top: 104px;
      }

      li.conv.active:after {
        content: url("/static/img/arrow_down.svg");
        position: absolute;
        left: 74%;
        top: 104px;
      }
    }

    .manage-uploaders, .manage-reviewers {
      width: 48%;
      margin-left: 1%;
      margin-right: 1%;
      float: left;
      display: inline-block;

      h4 {
        color: $purple;
      }
    }

    .reviewer, .uploader {
      font-size: .8em;
    }

    .primary {
      padding: 7px;
      background-color: $lightgrey;
      min-height: 45px;
      border-radius: 3px;
    }

    .reserve {
      padding: 7px;
    }

    .reviewer .info, .uploader .info {
      width: 50%;
      float: left;
    }

    .recent-activity {
      width: 30%;
      float: left;
    }

    .trigger-actions {
      padding-top: 8px;
      width: 20%;
      float: left;
      text-align: right;
    }

    .review-email {
      font-weight: lighter;
    }

    .reserve-header {
      font-size: .9em;
      font-weight: bolder;
    }

    .manage-reviewers .reserve-header {
      color: $purple;
    }

    p.no-entries {
      text-align: center;
      color: $concrete;
      font-size: .8em;
    }

    .add-new-uprev {
      padding-top: 5px;
      font-size: .6em;
      cursor: pointer;

      &:hover {
        color: $purple;
      }
    }

    .manage-reviewers {
      .add-new-uprev {
        color: $purple-light;
        &:hover {
          color: $navy;
        }
      }
    }

    .submission-person {
      margin-bottom: 10px;

      div {
        display: inline-block;
      }
      .title {
        min-width: 75px;
        font-weight: bolder;
      }
    }

    .coordinator-title, .coordinator-value {
      color: $blue;
    }

    .reviewer-title, .reviewer-value {
      color: $purple;
    }

    .uploader-title, .uploader-value {
      color: $navy;
    }

    .input-text-box {
      border-radius: 4px;
      background-color: $lightgrey;
      border: none;
      padding: 5px;
      margin: 5px;
    }

    /*loader*/
    .spinner {
      width: 100px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;

      .ball {
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      }

      .ball-purple {
        background-color: $purple;
      }
    }

    @-webkit-keyframes motion {
      0% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
      }
      25% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
      }
      50% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
      }
      75% {
        -webkit-transform: translateX(50px) scale(0.3);
        transform: translateX(50px) scale(0.3);
      }
      100% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
      }
    }

    @keyframes motion {
      0% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
      }
      25% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
      }
      50% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
      }
      75% {
        -webkit-transform: translateX(50px) scale(0.3);
        transform: translateX(50px) scale(0.3);
      }
      100% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
      }
    }

    #conversation .message-item, #conversation-only .message-item {
      background-color: $lightgrey;
      padding: 10px;

      .message-time {
        color: $navy;
      }
    }

    #conversation .table-name {
      padding: 5px;
      font-weight: bolder;
      color: $purple;
      font-size: 1em;
    }

    .invite {
      padding: 20px;
      background-color: $dark-blue;
      margin-bottom: 10px;

      .label {
        text-transform: uppercase;
      }

      .coordinator {
        font-size: 1em;
      }
    }

    .request-header {
      color: $grey;
      font-weight: bolder;
      text-align: left;
      text-transform: uppercase;
      padding-bottom: 10px;
      border-bottom: 1px solid $darker-blue;
    }

    .admin-response-area {
      background-color: $dark-blue;
      border-radius: 5px;
      margin-bottom: 30px;
      padding: 10px;
    }

    .request-item {
      padding: 20px 0 20px 0;
    }

  }

  .axis path, .axis line {
    fill: none;
    stroke: $grey !important;
    stroke-width: 1;
    shape-rendering: crispEdges;

  }

  .axis path {
    display: none;
  }

  path, circle, .dc-chart .row rect {
    pointer-events: auto;
  }


  .dc-chart g.row rect {
    fill-opacity: 1;
    cursor: pointer;

    &:hover {
      fill-opacity: 1;
      fill: $lightblue;
    }
  }

  .axis text {
    font-size: 10px;
    fill: $grey;
  }

  .brush rect.extent {
    fill: white;
    fill-opacity: .125;
  }

  .brush .resize path {
    fill: white;
    stroke: $grey;
  }

  .dc-data-table {
    border-collapse: collapse;

    tr {
      td {
        padding-top: 20px;
      }

    }

    .dc-table-label {
      margin-top: 15px;
      font-weight: bolder;
    }

    .label {

      padding: 3px 5px;
      border-radius: 3px;
      margin-right: 3px;
      text-transform: uppercase;
      background-color: $purple;
      color: white;
      font-size: .9em;
      display: inline-block;


      &.version {
        padding: 0;
        color: $yellow;
        background-color: $darker-blue;
      }

      &.finished {
        background-color: $green;
        color: $darker-blue;
      }

      &.todo {
        background-color: $red;
      }
    }

  }

  .table > tbody + tbody {
    border: none;
    margin-top: 10px;
  }

  .visualization-container {
    margin-bottom: 50px;
  }

}
