@import "variables";
.error-text-container {
  background-color: white;
}
.error-container {
  bottom: 36px;
  z-index: -1;
  width: 100%;

  img {
    margin-bottom: -30px;
  }
}

.error-page {
  padding-top: 9em;
  h4 {
    color: $purple;
    font-size: 2em;
    text-align: center;
  }
  p {
    padding: .5em;
    color: $concrete;
    font-size: 1.3em;
  }

  .footer-home {
    font-size: .8em;
  }
}
