@import "variables";

.analysis {
  background-color: $purple;
  color: $navy;
  text-transform: capitalize;
  font-size: .8em;

  a {
    color: white;
  }
}

.record-title {
  font-weight: normal;
  font-size: 1.4em;
}

.record-journal {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  color: $navy-light;

}

.record-header {
  .collaboration {
    margin-right: 5px;
    font-size: .8em;
    padding: 5px 7px;
    text-align: center;
    background-color: $lightgrey;

  }
}

.record-doi {
  a {
    color: $grey;
  }
}

.record-abstract {
  font-weight: normal;
  font-size: .9em;
}

.record-abstract-content {
  height: 25vh;
  overflow-y: auto;
  white-space: pre-wrap;
  overflow-x: hidden;
}

.record-authors {
  padding-top: 10px;
  font-weight: normal;

  a {
    color: $purple;
    font-size: .9em;
    margin: 2px;
    font-weight: normal;
  }
}

.record-links {
  ul {
    list-style: none;
    -webkit-padding-start: 0px;
    padding-left: 0;

    li {

      padding: 0px 2px;
      color: white;
      display: inline-block;
      margin-bottom: 10px;

    }
  }

  .link {
    padding: 6px;
    border: 1px solid $navy-light;
    border-radius: 3px;
    color: $navy-light;
    font-size: .8em;
    cursor: pointer;

    &:hover {
      background-color: $purple;
      color: white;
      text-decoration: none;
    }
  }

  .link-full {
    background-color: $navy-light;
    color: white;

    &:hover {
      background-color: $purple;
      color: white;
    }
  }
}

.detailed-record-info {
  margin-right: 0;
  height: 100vh;
  color: $navy-light;
  /*border-right: $lightgrey solid 1px;*/
}

.review-status, .messages {
  padding: 4px 5px;
  border-radius: 2px;
  background-color: $navy;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.reviews-view, .uploaders-view, .admin-view, .question-view {
  width: 300px;
  float: right;
  height: 70%;
  padding: 20px;
  background: $navy;
  position: fixed;
  right: -300px;
  min-height: 430px;
  border-radius: 4px 0 0 4px;
  top: 125px;
  color: white;
  z-index: 100 !important;
}

.question-view {
  height: 400px;
}

.admin-view {
  height: 40%;
  min-height: 300px;
}

.reviews-view {
  h4 {
    margin: 0;
  }

  .reviews-view h5 {
    font-size: .9em;
  }
}

.review-option, .upload-option, .paper-info-option, .admin-option, .question-option {
  position: fixed;
  padding: 10px 10px 10px;
  width: 35px;
  float: right;
  top: 200px;
  background: $purple;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;

  z-index: 99;
  border-radius: 4px 0 0 4px;
}

.review-option, .upload-option, .admin-option, .question-option {
  right: 0;
}

.admin-option {
  top: 250px;
}

.paper-info-option {
  top: 115px;
  left: 0;
  border-radius: 0 4px 4px 0;
  pointer-events: all;
  z-index: 9999;
}

.question-option {
  top: 300px;
}

.review, .upload {
  border-radius: 4px;
  background-color: $navy;
  padding: 10px;
}

.paper-info-option:hover {
  background: $navy;
}

.review-option:hover {
  color: #fff;
  text-decoration: none;
}

.feedback-btn {
  display: none;
}

.passed {
  background-color: $green;
}

.finished {
  background-color: $purple;
  color: white;
}

.attention {
  background-color: $yellow;
}

.todo {
  background-color: $red;
}

.deactivate {
  opacity: .5;
  background-color: $grey;
  color: $navy;
}

.cite {
  float: right;
  margin-left: 15px;
  margin-top: -4px;
}

.message-container {
  height: 40%;
  overflow: scroll;
  margin-bottom: 10px;
}

.message-item {
  background-color: $navy-light;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 5px;
  .message-info {
    vertical-align: top;
  }

  .message-content {
    white-space: pre-wrap;
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    font-size: 1em;
  }
  p {
    margin: 0;
    font-size: .9em;
  }

  .reviewer {
    font-size: .8em;
    font-weight: bolder;
    color: $blue;
  }

  .message-time {
    font-size: .7em;
    font-weight: lighter;
    color: $lightgrey;
    text-align: left;
  }
}

#table_description {
  padding-top: 10px;
  white-space: pre-wrap;
}

#uploadDialog, #notifyReviewer {
  .modal-body {
    background-color: $navy;
    color: white;
  }

  .modal-header {
    border-bottom: none;
  }
}

.support-file, .support-file-link {
  background-color: $lightgrey;
  color: $navy-light;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  margin-right: 1px;

  a {
    color: $navy;
  }
}

.support-file:hover, .support-file-link:hover {
  color: $purple;
}

#code {
  height: 500px;
  overflow: scroll;
  padding: 10px;
}

.CodeMirror {
  height: 500px;
}

.modal-header {
  background-color: $navy-light;
  color: white;
  font-weight: lighter;
}

.modal-footer {
  text-align: center;
}

.validation-error {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 3em;
  color: $red;
}

.validation-error h4 {
  font-weight: bolder;
  font-size: 2em;
  padding-bottom: 20px;
}

.validation-error .instructions {
  font-size: 1.3em;
  color: $navy-light;
}

.validation-error .file-name {
  color: $navy-light;
  font-weight: bolder;
  font-size: 1.2em;
}

.validation-error-message-block {

  background-color: $lightgrey;
  min-height: 40px;
  margin: 3px;
  border-radius: 0 4px 4px 0;
}

.validation-error-message-block .error-type {
  background-color: $red;
  padding: 10px;
  width: 10%;
  border-radius: 4px 0 0 4px;
  color: white;
}

.validation-error-message-block .error-message {
  padding: 10px;
  width: 90%;
  text-align: left;

  color: $navy-light;
}

.validation-error-message-block div {
  display: block;
}

.close {
  color: white;
  opacity: 1;

  &:hover, &:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
  }
}

#resource-list ul {
  list-style: none;
  -webkit-padding-start: 0;

  li {
    background-color: $lightgrey;
    margin: 3px;
    font-size: .8em;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;

    &.active {
      color: $purple;
      font-weight: bolder;
    }
  }

}

.hide_button {
  position: absolute;
  left: 30px;

  z-index: 1000;
}

.collaboration-group {
  padding: 3px 4px;
  background-color: $lightgrey;
  display: inline-block;
  color: $darker-blue;
  border-radius: 3px;
  margin-right: 3px;
}

.info-group {
  display: inline-block;
  color: $grey;
  margin-right: 3px;
}

/*Data view CSS*/

#table-list-section {

  button {
    margin: 5px 0;
  }
  input {
    border: none;
    background: $lightgrey url('/static/img/icons/icon_filter.svg') no-repeat 4px 9px;
    background-size: 20px;
    padding: 10px 11px 10px 26px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 4px;
  }

  .content {
    float: left;
    width: 95%;
  }

  .arrow {
    float: right;
    width: 5%;
    align-content: center;
    margin-top: 12px;
    font-size: 1.2em;
    color: $concrete;
  }

  li.active p {
    color: $navy;
  }

}

#table-list {

  -webkit-padding-start: 0px;
  font-size: .8em;
  height: calc(100vh - 140px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 5px 15px 0;

  li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    color: $concrete;

    p {
      color: $grey;
      margin: 0 0 4px;
    }

    &.active .arrow, &.active h4 {
      color: $purple;
      font-weight: bolder;
    }
  }

}

#hepdata_table_detail {
  display: inline-block;
  height: calc(100vh);
  overflow-y: scroll;
}

#hep_table_data, #hep_table_chart {
  margin-top: 20px;
}

#table_section {
  overflow-x: auto;
}

#hep_table_data, #hep_table_chart {
  h4 {
    margin-top: 0;
  }
}

.hepdata_table_detail_header {
  h4 {
    margin-top: 0;
    color: $purple;
    font-weight: bolder;
  }

  a {
    color: $purple;
    text-decoration: underline;

    &:hover {
      color: $purple-light;
    }
  }

  p {
    color: $navy;
  }
}

.table {
  .qualifiers {
    background-color: $lightgrey;
  }
  .qualifier_name {
    font-weight: bolder;
  }

  .headers {
    font-weight: bolder;
  }

  .data_values .error {
    font-size: .7em;
    font-weight: bolder;
    display: inline-block;
    background-color: $lightgrey;
    margin: 1px;
    border-radius: 3px;
    padding-left: 3px;

    .value {
      display: inline-block;
    }

    .label {
      background-color: $lightgrey;
      color: $red;
      display: inline-block;
      height: 16px;
      border-radius: 0 3px 3px 0;
      margin-left: 2px;
      padding-top: 3px;
      font-size: .9em;
      vertical-align: middle !important;
      max-width: 150px;
      overflow: hidden;
    }

    .asym {
      display: inline-block;
      vertical-align: middle;
      font-size: .8em;
      margin-top: -2px;

      .sup, .sub {
        display: block;
        position: relative;
        height: 7px;
      }
    }

    .sym {
      display: inline-block;
      vertical-align: middle;
      height: 16px;
      font-size: 1em;
    }
  }
}

.total_errors {
  font-size: .8em;
  color: $grey;
}

.show_all_errors {
  margin-left: 5px;
  color: $red-light;
  font-size: .8em;
  text-decoration: underline;
  cursor: pointer;
}

.error-qualifier-info {
  font-size: .7em;
  color: #aaa;
  clear: both;
}

.group-item {
  font-size: .8em;
  background-color: white;
  padding: 5px;

  .type {
    color: $grey;
  }

  .value {
    font-weight: lighter;
  }
}

.group {
  background-color: $lightgrey;
  font-weight: bolder;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 5px;
  min-width: 350px;

}

.error-legend-item, .variable-legend-item {
  cursor: pointer;
}

.legend-container {
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.legend-table {
  margin-top: 10px;
  tr td {
    cursor: pointer;
    border-radius: 5px;
  }

  thead {
    color: $navy;
    font-weight: bolder;
    font-size: 1em;
  }
}

.variable-name {
  font-weight: bolder;
  border-bottom: 1px solid #ccc;
  padding: 4px 5px;
  font-size: .9em;
  padding-top: 15px;

}

.variable-error {
  color: #E64C3C;
  font-weight: bolder;
  font-size: .8em;
  text-align: left;
  padding-left: 20px;
}

.legend-info {

  font-weight: normal;
  color: $grey;
}

#table_keywords {
  font-size: .8em;
  padding-top: 10px;

  .keyword-item {
    padding: 5px;
    h4 {
      color: $navy;
      font-size: 1.4em;
      padding-bottom: 5px;
    }
  }
}

.chip {
  display: inline-block;
  height: 24px;
  font-size: 11px;
  font-weight: 500;
  color: $navy;
  line-height: 24px;
  padding: 0 12px;
  border-radius: 16px;
  margin-bottom: 2px;
  margin-right: 2px;
  background-color: $lightgrey;
  overflow-x: auto;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(44, 62, 80, 0.8);

    &:hover {
      color: white;
    }
  }

  &:hover {
    background-color: $purple;

    a {
      color: white;
    }
  }
}

.keyword_values {
  max-height: 100px;
  overflow-y: auto;
  -webkit-padding-start: 0;
}

.table {
  font-size: .95em;
}

.node {
  pointer-events: all;
}

#table-selector {
  display: none;
}

@media (max-width: 1000px) {

  .navbar-nav {
    float: left;
    margin: 0;
    padding-top: 13px;
  }
}

@media (max-width: 500px) {

  #dLabel {
    display: none;
  }
}

@media (max-width: 992px) {

  #table-list {
    display: none;
  }

  .detailed-record-info {
    display: none;
  }

  #hepdata_table_detail {
    width: 100%;
  }

  .stats {
    display: none;
  }

  #table-selector {
    display: block;
  }

}

.nice-dropdown {
  display: block;
  padding-top: 15px;
  margin-bottom: 20px;
  position: relative;
}

.nice-dropdown > select {
  -webkit-animation-duration: .1ms;
  animation-duration: .1ms;
  -webkit-animation-name: mui-node-inserted;
  animation-name: mui-node-inserted;
  display: block;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  background: $navy-light url('/static/img/arrow_down_white.svg') no-repeat 98% center;
  background-size: 15px;

  cursor: pointer;
  color: white;
  font-size: 16px;
  padding: 10px;
}

.admin-section {
  padding: 10px;
  background-color: $navy-light;
  border-radius: 3px;
}

.axis {
  path, line {
    fill: none;
    stroke: $navy;
    shape-rendering: crispEdges;
  }

  text {
    font-size: .6em;
    fill: $navy;
  }

}

.axis_text {
  font-size: .7em;
}

g.node {
  cursor: pointer;
}

.brush .extent {
  fill-opacity: .1;
  stroke: $purple;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: normal;
  font-size: .7em;
  padding: 12px;
  background-color: $navy;
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: $navy;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#hepdata_table_loader {
  padding-top: 17em;
}

#code-contents {
  width: 100%;
  height: 100%;
  background: #efeff0;
  border: none;
  padding: 10px;
}

.popover {

  .popover-title {
    background: $navy;
    color: white;
  }

}

#data_link_container {
  margin-right: 10px;
  border: 1px solid #ccc;
  background-color: $lightgrey;
  border-radius: 3px;
  height: 33px;

  #direct_data_link {
    border: none;
    background: transparent;
    padding-left: 10px;
    font-size: .7em;
    color: $navy;
  }

  .copy-btn {
    background: white;
    border-left: 1px solid #ccc;
    border-radius: 0;
    padding: 5px 12px;
  }

}

.toast-success {
  background-color: $purple !important;
}

#table_doi {
  font-size: .55em;
  color: $navy !important;

  background-color: $lightgrey;
  padding: 7px 6px;
  border-radius: 4px;
  margin-left: 5px;
  margin-top: 4px;
}

#figures {
  img {
    width: 90%;
  }
}

#table_options_region {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    color: $concrete
  }

  a {
    cursor: pointer;
  }
}

#hmlegend {
  height: 50px;
  text {
    font-size: 12px;
    fill: $concrete;
  }
}

.legend {
  pointer-events: all;
}

#upload-progress {
  padding-top: 60px;
  padding-bottom: 40px;
  width: 200px;
  margin: 0 auto;
}

.upload-area {
  width: 65%;
  padding: 5em;
  margin: 0 auto;
}

#sandbox-upload-area {
  min-height: 55vh;
  padding-bottom: 20px;
}

#resourceModal .modal-dialog {

  .add-resource-container {
    padding: 10px;
    background-color: $dark-blue;
    margin-bottom: 20px;
    border-radius: 4px;

    border-bottom: solid 5px $purple;

    h4 {
      font-weight: bolder;
      margin: 10px 0;
    }
  }

  .modal-header {
    border: none;
    background-color: $dark-blue;
    color: white;
  }

  .modal-body {
    background-color: $darker-blue;
    color: white;
    padding: 0;
  }

  .resource-item-container {
    padding: 10px;

    .resource-item {
      background-color: $navy;
      border-radius: 4px;
      min-height: 200px;

      padding: 20px 10px;
      text-align: center;

      h4 {
        color: white;
      }

      p {
        color: $concrete;
      }

      i {
        font-size: 2em;
      }
    }
  }

  #resource-list {

    height: 40vh;
    overflow-y: auto;

    &.full {
      height: 70vh;
    }

  }

  .filter {

    padding: 1em 0;
    width: 100%;

    input {
      border: none;
      background: $darker-blue url(/static/img/icons/icon_filter.svg) 5px 6px no-repeat;
      background-size: 21px;
      padding: 5px 5px 5px 31px;
      width: 100%;
      border-radius: 5px;
      color: white;
      font-size: 1.2em;
      margin: 0 auto;
    }
  }

  #resource-details {
    padding: 10px 0;
  }

  #resource-filter {

    padding: 10px;
    background-color: $dark-blue;

    ul {
      padding-left: 0;
      margin-left: 0;
      list-style: none;
      height: 65vh;
      overflow-y: auto;

      li {
        cursor: pointer;
        margin: 5px 0;
        padding: 5px 6px;
        border-radius: 3px;
        .badge {
          background-color: $dark-blue;
          color: white;
        }

        &.active {
          background-color: $purple;

          .badge {
            background-color: white;
            color: $darker-blue;
          }
        }
      }
    }
  }
}


