{%- extends "hepdata_theme/page.html" %}


{% block page_body %}

    {%- assets "hepdata_info_page_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {%- endassets %}


    <div id="about" class="row" style="margin: 0; padding: 9em 10% 1% 5%">
        <div class="section-header" style="width:135px; padding-bottom: 4em">
            <p>About HEPData</p></div>

        <div class="col-md-6">
            <div id="hepdata-loading"
                 style="width:80%; height: 312px; margin: 0 auto;">
                <svg class="line-drawing" id="mac" width="100%" height="100%"
                     preserveAspectRatio="xMidYMid meet"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 400">
                    <path fill="none" stroke="#000000" stroke-miterlimit="10"
                          d="M630.71,152.412h-96.022V11.417h96.022V152.412z"/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10"
                          d="M578.977,102.797h-36.81v-30.58h36.81V102.797z"/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10"
                          d="M70.752,86.845c9.207-4.783,14.966-14.611,34.226-17.186
								c23.306-3.121,69.336,0.548,97.167-0.958c37.569-2.032,70.041-3.921,101.785,4.055c25.004,6.285,40.423,9.054,72.544,4.838
								c25.424-3.335,48.891-12.06,79.084-7.538c25.528,3.823,51.673,13.5,77.342,14.259c6.797,0.201,13.842,1.357,20.528,3.14
								c-0.011-0.062,6.607,1.283,6.521,1.262c7.698,1.588,11.47-1.151,19.339-1.985"/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10"
                          d="M444.131,0.5H222.064c-2.453,0-4.441,1.989-4.441,4.441V135.22
								c0,2.452,1.989,4.441,4.441,4.441h80.684v25.169h60.7v-25.169h80.684c2.453,0,4.441-1.989,4.441-4.441V4.941
								C448.572,2.489,446.584,0.5,444.131,0.5z"/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10"
                          d="M71.06,87.182c9.207,3.763,14.966,11.493,34.226,13.519
								c23.306,2.454,69.336-0.432,97.167,0.753c37.569,1.6,64.095-47.628,95.839-53.903c25.004-4.943,46.369,43.591,78.491,46.909
								c25.423,2.623,48.89,9.485,79.084,5.929c11.953-1.409,34.385-5.738,58.401-6.742c34.182-1.429,38.017-15.209,45.182-16.929
								c5.77-1.386,5.646,7.607,11,8.5c6,1,2.2,5.657,8.5,9.5"/>
                    <path fill="none" stroke="#FFFFFF" stroke-width="4"
                          stroke-miterlimit="10" d="M88.951,86.967c0,9.736-7.892,17.622-17.625,17.622
								s-17.621-7.886-17.621-17.622c0-9.729,7.888-17.621,17.621-17.621S88.951,77.237,88.951,86.967z"/>
                    <path fill="none" stroke="#000000" stroke-width="5"
                          stroke-miterlimit="10" d="M71.329,59.607
								c-15.111,0-27.359,12.248-27.359,27.36c0,15.114,12.248,27.362,27.359,27.362s27.359-12.248,27.359-27.362
								C98.688,71.855,86.44,59.607,71.329,59.607z M83.47,132.267l21.021-12.139l12.137-21.021V74.829L104.49,53.809L83.47,41.667H59.188
								L38.167,53.809L26.03,74.829v24.278l12.137,21.021l21.021,12.139H83.47z M86.842,144.854L113.7,129.34l15.512-26.86V71.457
								L113.7,44.595L86.842,29.082H55.815L28.956,44.595L13.444,71.457v31.023l15.512,26.86l26.859,15.514H86.842z M89.773,155.797
								l31.937-18.449l18.445-31.933V68.521L121.71,36.586L89.773,18.138H52.882L20.947,36.586L2.5,68.521v36.894l18.447,31.933
								l31.935,18.449H89.773z"/>
                    <path fill="none" stroke="#FFFFFF" stroke-miterlimit="10"
                          d="M71.329,83.722c-1.79,0-3.244,1.458-3.244,3.245
								c0,1.792,1.454,3.244,3.244,3.244c1.792,0,3.244-1.452,3.244-3.244C74.573,85.18,73.121,83.722,71.329,83.722z"/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10"
                          d="M541.697,25.218h82"/>

                    <path fill="none" stroke="#000000" stroke-miterlimit="10"
                          d="M585.696,41.217h37 M585.696,46.775h37 M585.696,52.334h37
								 M585.696,57.893h37 M585.696,63.452h37 M585.696,69.011h37 M585.696,74.57h37 M585.696,80.128h37 M585.696,85.688h37
								 M585.696,91.246h37 M585.696,96.805h37 M585.696,102.364h37 M585.696,107.923h37 M585.696,113.481h37 M585.696,119.04h37
								 M585.696,124.6h37 M585.696,130.158h37 M585.696,135.717h37 M542.196,41.217h37 M542.196,46.775h37 M542.196,52.334h37
								 M542.196,57.893h37 M542.196,63.452h37 M542.196,119.04h37 M542.196,124.6h37 M542.196,130.158h37 M542.196,135.717h37"/>
                </svg>
            </div>
        </div>
        <div class="col-md-6">
            <p style="font-size: 1.3em; font-weight: lighter">The Durham High-Energy
                Physics Database (HEPData) has been built up over the
                past four decades
                as a unique open-access repository for scattering data from
                experimental particle physics. It currently
                comprises the data points from plots and tables related to
                several thousand publications including those
                from the Large Hadron Collider (LHC). HEPData is funded by a
                 <a href="http://gtr.ukri.org/projects?ref=ST/S000720/1" target="_blank"
                    style="text-decoration: underline">grant</a> from the UK
                <a href="https://stfc.ukri.org/" target="_blank">STFC</a> and
                is based at the
                <a href="http://www.ippp.dur.ac.uk/" target="_blank">IPPP</a>
                at Durham University.</p>
        </div>
    </div>

    <div id="team" class="row-fluid" style="margin: 0; padding: 0% 5% ">
        <div class="section-header" style="padding-bottom: 4em"><p>Meet the
            HEPData Team</p></div>

        <p style="font-size: 1.3em; font-weight: lighter">
            HEPData has been in existence for decades with the invaluable support from many people and grants. The
            current team is comprised of members from Durham University, England and CERN.</p>


        <br/>
        <div class="col-md-12">
            <h4 class="text-center"><img src="static/img/about/durham-logo.svg" width="240px"></h4>
            <br/>
            <div class="col-md-3">
                <div class="team-member">
                    <div class="team-member-image"
                         style="background-image: url(static/img/people/graeme_watt.jpg)">

                    </div>
                    <div class="team-member-detail">
                        <a href="http://www.ippp.dur.ac.uk/profile/watt"
                           target="_blank">Graeme Watt</a><br/>
                        <span>IPPP, Durham University</span><br/>
                        <span class="role">Project Manager (2013-)</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-member">
                    <div class="team-member-image"
                         style="background-image: url(static/img/people/alison_clarke.jpg)">

                    </div>
                    <div class="team-member-detail">
                        <a href="https://www.dur.ac.uk/directory/profile/?id=18738"
                           target="_blank">Alison Clarke</a><br/>
                        <span>ARC, Durham University</span><br/>
                        <span class="role">Software Engineer (2019-)</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-member">
                    <div class="team-member-image"
                         style="background-image: url(static/img/people/michael_spannowsky.jpg)">

                    </div>
                    <div class="team-member-detail">
                        <a href="https://www.ippp.dur.ac.uk/profile/mspannow"
                           target="_blank">Michael Spannowsky</a><br/>
                        <span>IPPP, Durham University</span><br/>
                        <span class="role">Principal Investigator (2019-)</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
        <br/>

        <div class="col-md-12">
            <h4 class="text-center"><img src="static/img/about/cern-logo.svg" width="130px"></h4>
            <br/>
            <div class="col-md-3" style="margin: 0 auto;">
                <div class="team-member">
                    <div class="team-member-image"
                         style="background-image: url(static/img/people/eamonn.jpg)">

                    </div>
                    <div class="team-member-detail">
                        <a href="https://uk.linkedin.com/in/eamonnmaguire1986"
                           target="_blank">Eamonn Maguire</a><br/>
                        <span>CERN</span><br/>
                        <span class="role">Lead Developer (2015-2016)</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="clearfix"></div>
    <div class="row-fluid">
        <div id="contributors" class="col-md-6" style="padding-top: 5%" align="center">
            <div class="section-header" style="width:250px"><p>Other Contributors</p></div>
            <br/>
            <ul style="list-style: none; -webkit-padding-start: 0">
                <li>Jan Stypka (Technical Student @ CERN, 2015-2016)</li>
                <li>Laura Rueda (CERN, 2014-2015)</li>
                <li>Michał Szostak (Summer Student @ CERN, 2015)</li>
                <li>Alicia Boya García (University of Salamanca, Spain, 2015-2016)</li>
                <li>Mike Whalley (Database Manager @ Durham, 1982-2016)</li>
                <li>Frank Krauss (Principal Investigator @ Durham, 2014-2017)</li>
                <li>Lukas Heinrich (NYU, New York, USA, 2015-)</li>
                <li>David Caro (CERN, 2016-2018)</li>
                <li>Keith Ellis (Principal Investigator @ Durham, 2017-2019)</li>
                <li>Joanne Bentham (Data Entry Assistant @ Durham, 1995-2018)</li>
                <li>Benjamin Bergia (CERN, 2019-)</li>
                <li>Harris Tzovanakis (CERN, 2020-)</li>
                <li>Giuseppe De Laurentis (IPPP Durham, 2020)</li>
            </ul>
        </div>


        <div id="board" class="col-md-6 text-center" style="padding-top: 5%">
            <div class="section-header" style="width:250px"><p>HEPData Advisory
                Board</p></div>
            <br/>
            <ul style="list-style: none; -webkit-padding-start: 0">
                <li>Michael Spannowsky (IPPP Durham, PI)</li>
                <li>Jeppe Andersen (IPPP Durham, Co-I)</li>
                <li>Daniel Maître (IPPP Durham, Co-I)</li>
                <li>Alexander Kohls (CERN, SIS)</li>
                <li>Stella Christodoulaki (CERN, INSPIRE)</li>
                <li>Tibor Šimko (CERN, IT)</li>
                <li>William Barter (Imperial, LHCb)</li>
                <li>Henning Flaecher (Bristol, CMS)</li>
                <li>Richard Hawkings (CERN, ATLAS)</li>
                <li>Enrico Scomparin (Torino, ALICE)</li>
                <li>Matthew Wing (UCL, non-LHC experiments)</li>
                <li>Andy Buckley (Glasgow, Rivet)</li>
                <li>Kyle Cranmer (NYU, generic users)</li>
                <li>Peter Skands (Monash, MCPLOTS)</li>
            </ul>
            Meetings:
            <ul style="list-style: none; -webkit-padding-start: 0">
                <li><a href="https://conference.ippp.dur.ac.uk/e/HEPData2020"
                       target="_blank">28<sup>th</sup> January 2020</a></li>
                <li><a href="https://conference.ippp.dur.ac.uk/e/HEPData2017"
                       target="_blank">24<sup>th</sup> November 2017</a></li>
                <li>(<a href="https://indico.cern.ch/event/512652/timetable/"
                       target="_blank">25<sup>th</sup> April 2016</a>)</li>
                <li><a href="https://conference.ippp.dur.ac.uk/e/HepData2015"
                       target="_blank">16<sup>th</sup> October 2015</a></li>
                <li><a href="https://conference.ippp.dur.ac.uk/e/HepData2014"
                       target="_blank">12<sup>th</sup> November 2014</a></li>
            </ul>
        </div>
    </div>


    <div class="clearfix"></div><br/>

    <div class="row-fluid" >
        <div id="papers" class="col-md-6 text-center" style="padding-top: 5%">
            <div class="section-header" style="width:250px"><p>HEPData Papers</p></div>
            <br/>

            <ul class="talks">

                {% with papers = [
                {'title': 'HEPData: a repository for high energy physics data',
                 'authors': 'Eamonn Maguire, Lukas Heinrich, Graeme Watt',
                 'date': 'Apr 2017',
                 'link': 'https://inspirehep.net/literature/1592380'}
                ] %}

                {% for paper in papers %}
                <li>
                    <div class="row-fluid">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            {{ paper.date }}
                        </div>

                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <p class="title">{{ paper.title }}</p>
                            <p>{{ paper.authors }}</p>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <a href="{{ paper.link }}" class="btn btn-md btn-primary">View</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>
                {% endfor %}

            {% endwith %}

            </ul>

        </div>
        <div id="presentations" class="col-md-6 text-center" style="padding-top: 5%">
            <div class="section-header" style="width:250px"><p>HEPData Presentations</p></div>
            <br/>

            <ul class="talks">
                {% with talks = [
                {'meeting': 'STRONG-2020 meeting on database for hadronic cross sections',
                 'location': 'Virtual Zoom',
                 'speaker': 'Graeme Watt',
                 'date': 'Jun 2020',
                 'link': 'https://agenda.infn.it/event/23209/contributions/116038/attachments/72990/92245/watt_hepdata_jun2020.pdf'},
                {'meeting': 'IRIS-HEP Analysis Systems Topical Workshop',
                 'location': 'NYU Physics Department, New York',
                 'speaker': 'Graeme Watt',
                 'date': 'Jun 2019',
                 'link': 'https://indico.cern.ch/event/822074/contributions/3471468/attachments/1866228/3068850/watt_hepdata_jun2019.pdf'},
                {'meeting': 'Rivet developer & user workshop',
                 'location': 'Lunga House, Scotland',
                 'speaker': 'Graeme Watt',
                 'date': 'May 2019',
                 'link': 'https://indico.cern.ch/event/808138/contributions/3364224/attachments/1851728/3040138/watt_hepdata_may2019.pdf'},
                {'meeting': '(Re)interpreting the results of new physics searches at the LHC',
                 'location': 'Imperial College London',
                 'speaker': 'Graeme Watt',
                 'date': 'Apr 2019',
                 'link': 'https://indico.cern.ch/event/795041/contributions/3372000/attachments/1822248/2981055/watt_hepdata_apr2019.pdf'},
                {'meeting': 'LHC-EW WG: Jets and EW bosons',
                 'location': 'DESY, Hamburg (remote by Vidyo)',
                 'speaker': 'Graeme Watt',
                 'date': 'Jul 2018',
                 'link': 'https://indico.cern.ch/event/741607/contributions/3070256/attachments/1684596/2708317/watt_hepdata_jul2018.pdf'},
                {'meeting': 'IPPP/NuSTEC topical meeting on neutrino-nucleus scattering',
                 'location': 'IPPP, Durham',
                 'speaker': 'Graeme Watt',
                 'date': 'Apr 2017',
                 'link': 'https://conference.ippp.dur.ac.uk/event/583/session/6/contribution/29/material/slides/0.pdf'},
                {'meeting': '2nd DPHEP Collaboration Workshop',
                 'location': 'CERN, Geneva (remote by Vidyo)',
                 'speaker': 'Graeme Watt',
                 'date': 'Mar 2017',
                 'link': 'https://indico.cern.ch/event/588219/contributions/2507600/attachments/1426555/2188807/watt_hepdata_dphep_mar2017.pdf'},
                {'meeting': '(Re)interpreting the results of new physics searches at the LHC',
                 'location': 'CERN, Geneva (remote by Vidyo)',
                 'speaker': 'Graeme Watt',
                 'date': 'Dec 2016',
                 'link': 'https://indico.cern.ch/event/571190/contributions/2381277/attachments/1386853/2110844/watt_hepdata_dec2016.pdf'},
                {'meeting': 'CHEP 2016',
                 'location': 'San Francisco, USA',
                 'speaker': 'Lukas Heinrich',
                 'date': 'Oct 2016',
                 'link': 'https://indico.cern.ch/event/505613/contributions/2227685/'},
                {'meeting': '(Re)interpreting the results of new physics searches at the LHC',
                 'location': 'CERN, Geneva',
                 'speaker': 'Graeme Watt',
                 'date': 'Jun 2016',
                 'link': 'http://indico.cern.ch/event/525142/contributions/2189792/attachments/1291443/1923632/watt_hepdata_jun2016.pdf'},
                {'meeting': 'The new HEPData',
                 'location': 'CERN, Geneva',
                 'speaker': 'Eamonn Maguire',
                 'date': 'Apr 2016',
                 'link': 'http://indico.cern.ch/event/512652/timetable/'},
                {'meeting':'Invenio Workshop',
                 'location': 'CERN, Geneva',
                 'speaker': 'Eamonn Maguire',
                 'date': 'Oct 2015',
                 'link': 'http://www.slideshare.net/eamonnmag/hep-data-oct15-53863453'},
                {'meeting':'AAHEP8',
                 'location': 'Amsterdam, Holland',
                 'speaker': 'Graeme Watt',
                 'date': 'Sep 2015',
                 'link': 'https://indico.cern.ch/event/377699/session/4/contribution/13/attachments/1147297/1645339/watt_hepdata_aahep8.pdf'},
                {'meeting':'AAHEP7',
                 'location': 'Stony Brook, New York, US',
                 'speaker': 'Mike Whalley',
                 'date': 'Apr 2014',
                 'link': 'http://indico.cern.ch/event/262430/session/4/attachments/463875/642862/hepdata-aahep7.pdf'}

                 ] %}

                {% for talk in talks %}
                <li>
                    <div class="row-fluid">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            {{ talk.date }}
                        </div>

                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <p class="title">{{ talk.meeting }}</p>
                            <p>{{ talk.speaker }}</p>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <a href="{{ talk.link }}" class="btn btn-md btn-primary">View</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>

                {% endfor %}
            {% endwith %}

            </ul>
        </div>
    </div>

    <div class="clearfix"></div><br/>

    <div class="row-fluid">
        <div id="funders" class="col-md-6" style="padding-top: 10%" align="center">
            <div class="section-header" style="width:80px"><p>Funders</p></div>
            <br/>
            <br/>
            <a href="https://stfc.ukri.org/" target="_blank"><img
                    src="static/img/about/stfc-logo.png" width="250px"></a>
        </div>


        <div id="partners" class="col-md-6" style="padding-top: 10%; padding-bottom: 10%">
            <div class="section-header" style="width:80px"><p>Partners</p>
            </div>
            <br/>

            <div class="col-md-6" align="center">
                <a href="https://www.ippp.dur.ac.uk/" target="_blank">
                    <img src="static/img/about/durham-logo.svg" width="240px">
                </a>
            </div>
            <div class="col-md-6" align="center">
                <a href="http://home.cern/" target="_blank">
                    <img src="static/img/about/cern-logo.svg" width="130px">
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{%- block javascript %}

    {%- assets "hepdata_vis_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}

    <script>

        $(document).ready(function () {
            HEPDATA.render_about_animation("#hepdata-loading");
        });

    </script>

{% endblock %}
