{%- extends "hepdata_theme/page.html" %}

{% block page_body %}

    <div class="row" style="margin: 0; padding: 9em 10% 1% 5%">

        <div class="col-md-12">
             <h2>HEPData Cookie Policy</h2>

            <p>Our website uses cookies to distinguish you from other users of our website. This helps us to provide you
                with a
                good experience when you browse our website and also allows us to improve our website. We use two types
                of cookies on
                our website. One for maintaining information about your session (required for login functionality).
                The other required for analytics and performance from Google.</p>

            <h3>What is a cookie?</h3>
            <p>
                A cookie is a small text file that is placed on a user's computer hard drive by a website. There are
                several types
                of cookie and the most common are often referred to as session cookies. These are used to keep track of
                information
                needed by a user as they travel from page to page within a website. These cookies have a short lifetime
                and expire
                within a few minutes of the user leaving the website.
                Other types of cookies can be used to track internet activity after the user has left a website. These
                are usually
                sponsored by organisations external to the website being visited and are generally known as third-party
                cookies.
                These usually have a long lifetime with several months being quite common. They are 'harvested' and
                'refreshed'
                whenever the user visits a page where the same or a similar cookie is being used.
                We use the following cookies on this website:

            <ul>
                <li>SecureToken a session cookie used for the secure maintenance of a signed-in user; and</li>
                <li>Google Analytics.</li>
            </ul>
            </p>

            <h3>Third party cookies</h3>
            <p>We use Google Analytics to maintain usage stats of the website.
                These stats are anonymous and only provide information with respect to the browser you are using,
                operating system, etc. and help us improve the site's performance across different platforms.</p>

            <h3>Blocking and deleting</h3>
            <p>
                Internet browsers normally accept cookies by default; however, it is possible to set a browser to reject
                cookies. If
                this is done it is important not to exclude the benign and useful session cookies.
                Please note that this may impact on the usability of ours and other websites.</p>
        </div>

    </div>

{% endblock %}
