{%- extends "hepdata_theme/page.html" %}

{% block page_body %}

    {%- assets "hepdata_info_page_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {%- endassets %}

    <div id="steps" class="row" style="margin: 0; padding:9em 10% 2% 5%; background-color: #894B9D">
        <div class="section-header" style="width:185px; padding-bottom: 2em"><p>Submission Steps</p></div>

        <div class="col-md-6">
            <div id="hepdata-loading" style="width:330px; margin: 0 auto;">
                <img src="{{ url_for('static', filename='img/submission/submission-steps.svg') }}" width="330">
            </div>
        </div>
        <div class="col-md-6">
            <p>Submissions are handled by <a href="/permissions/coordinators" target="_blank"
                                             style="text-decoration: underline">Coordinators</a> for a paper or
                project.  These Coordinators assign an Uploader and a Reviewer to each submission after clicking the
                "Submit" button when they are logged in.</p>

            <p>An email is sent to the designated Uploader with a link which gives the privileges to upload
                a data submission.  Once the Uploader thinks their submission is ready for review, they should
                click the "Notify Reviewer" button.</p>

            <p>An email is then sent to the designated Reviewer with a link which
                assigns the appropriate privileges.  The Reviewer needs to mark each table as having "Passed" review
                before the Coordinator can "Finalise" the submission from
                their <a href="/dashboard" target="_blank" style="text-decoration: underline">Dashboard</a>.
                The entire submission will then be published and made searchable in HEPData.</p>

            <p>All current submissions are available for a Coordinator, Reviewer, or Uploader to see in their
                <a href="/dashboard" target="_blank" style="text-decoration: underline">Dashboard</a>.</p>

            <p>See also Section 6 of <a href="https://arxiv.org/abs/1704.05473"
                                        target="_blank" style="text-decoration: underline">arXiv:1704.05473</a>
                for an overview of the submission process.</p>

            <br/>

            <a href="/permissions/coordinators" class="btn btn-default btn-md">View Submission Coordinators</a>
        </div>
    </div>

    <div id="uploader" class="row" style="margin: 0; padding: 0% 10% 2% 5%">


        <div class="col-md-12" style="padding-top: 5%">
            <div class="section-header" style="width:190px; padding-bottom: 2em"><p>Advice for Uploaders</p></div>
            <br/>

            <div class="col-md-6">
                <div id="hepdata-file-structure" style="width:330px; margin: 0 auto;">
                    <img src="{{ url_for('static', filename='img/submission/file-structure.svg') }}" width="330">
                </div>
            </div>
            <div class="col-md-6">

                <p>The main documentation for the HEPData YAML submission format is linked below,
                  together with a third-party library that might be useful in preparing your submission.
                  You can also easily obtain the YAML format of any existing HEPData record by clicking
                  “Download All” then “YAML”.</p><br/>

                <a href="https://hepdata-submission.readthedocs.io" class="btn btn-primary" target="_blank">
                    Submission Documentation</a>
                <a href="https://github.com/HEPData/hepdata_lib/" class="btn btn-primary" target="_blank">
                    hepdata_lib</a>

                <br/><br/><br/><br/>

                <p>The GitHub repositories linked below provide more details on the submission format and some examples,
                    together with tools to convert from the old HepData input format to the new HEPData YAML format and
                    to validate the HEPData YAML format.  These conversion and validation tools are automatically
                    invoked from the web interface when an Uploader uploads their submission files.</p><br/>

                <a href="https://github.com/HEPData/hepdata-submission" class="btn btn-primary" target="_blank">
                    Submission Format</a>
                <a href="https://github.com/HEPData/hepdata-submission/tree/master/examples" class="btn btn-primary"
                   target="_blank">Example Files</a>
                <a href="https://github.com/HEPData/hepdata-converter" class="btn btn-primary" target="_blank">
                    Conversion Tools</a>
                <a href="https://github.com/HEPData/hepdata-validator" class="btn btn-primary" target="_blank">
                    Validation Tools</a>

                <br/><br/><br/><br/>

                <p>The link below gives more documentation on the submission process and also provides some C++ code
                to convert .txt files to .yaml files.</p><br/>
                <a href="https://doi.org/10.5281/zenodo.197109">
                    <img src="https://zenodo.org/badge/DOI/10.5281/zenodo.197109.svg" alt="DOI"></a>

            </div>


        </div>

    </div>


    <div id="reviewer" class="row" style="margin: 0; padding: 3% 10% 2% 5%; background-color: #f6f6f6; color: #2c3e50">
        <div class="col-md-12">
            <div class="section-header" style="width:190px;padding-bottom: 2em"><p>Advice for Reviewers</p></div>
            <br/>


            <div class="col-md-6">
                <div id="hepdata-review" style="width:300px; margin: 0 auto;">
                    <img src="{{ url_for('static', filename='img/submission/review-system.svg') }}" width="300">
                </div>
            </div>
            <div class="col-md-6">
                <p>The HEPData review system is completely self contained.
                    You can have discussions about each data table and its associated plot, as well as approve or reject
                    a data table directly from the interface, which can be accessed by clicking the speech bubble to
                    the right of each data table (provided review privileges have been granted).</p>

                <br/>

                <p>The data tables have interactive plots automatically
                    generated given particular data types, so you can also visually query the data to find mistakes in
                    the table.</p>

                <br/>

                <p>After all data tables have passed review, the Reviewer should contact the Coordinator to
                  finalise the record.</p>

            </div>
        </div>
    </div>
{% endblock %}
