{%- extends "hepdata_theme/page.html" %}



{%- block additional_assets %}
    {%- assets "hepdata_theme_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {%- endassets %}

    <style>
        .filter-section input {
            -webkit-background-size: 9%;
            background-size: 9%;
        }

        body {
            height: 100%;
        }
    </style>

{%- endblock additional_assets %}


{% block page_body %}

    {% include "hepdata_theme/pages/custom_styling.html" %}

    {% set delete_redirect_url = '/dashboard' %}

    <div class="hep-content" style="padding-top: 65px; height: 100%">

    <div class="dashboard-header">

        <div align="center" class="profile-container">

            <img src="{{ url_for('static', filename='img/dashboard/hepdata_logo_dark.svg') }}" width="120">
            <br/><br/>
            {% if ctx.user_profile %}
                <h4>{{ ctx.user_profile.full_name }}</h4>
            {% else %}
                <p>No name provided <a href="/account/settings/profile" class="btn btn-sm btn-default"><i
                        class="fa fa-pencil"></i> Add Name</a></p>
            {% endif %}


            <div>
                    <span class="email"><i class="fa fa-envelope-o"
                                           style="margin-right: 5px"></i> {{ current_user.email }}</span>

                <br/><br/>

                {% if ctx.user_is_admin %}
                    <a href="/admin" class="btn-profile">HEPData
                        Administration</a>
                    <a id="reindex-button" class="btn-profile"
                       data-toggle="modal"
                       data-target="#reindexWidget"><span
                            class="fa fa-refresh"></span> Reindex Database
                    </a>
                {% endif %}
                <a href="/account/settings/profile"
                   class="btn-profile"><i class="fa fa-pencil"></i> Edit Profile</a>

                <a href="{{ url_for('security.logout') }}"
                   class="btn-profile danger"><i
                        class="fa fa-power-off"></i> Log out</a>

            </div>
        </div>
    </div>

    <div id="hepdata_submissions">

        {% if ctx.submissions|length > 0 %}

            <div class="filter" align="center">
                <input id="submission-filter"
                       placeholder="Filter {{ ctx.submissions |length }} submission{% if ctx.submissions |length > 1 %}s{% endif %}"
                       name="data-table-filter"
                       onkeyup="HEPDATA.filter_content('#submission-filter','#hep-submissions')">
            </div>

            <ul id="hep-submissions">
                {% for submission in ctx.submissions %}
                    <li id="{{ submission.recid }}" class="submission-item">
                        <div class="row-fluid">
                            <div class="submission-header">
                                {% if ctx.user_is_admin or submission.show_coord_view %}

                                    {% if submission.requires_inspire_id %}
                                        <button class="btn btn-primary btn-sm inspire-btn pull-right"
                                                id="inspire-btn-{{ submission.recid }}"
                                                data-recid="{{ submission.recid }}">
                                            Add INSPIRE ID
                                        </button>

                                    {% else %}
                                        {% if submission.review_flag == 'passed' and submission.submission_status=='todo' %}
                                            <button class="btn btn-success btn-sm finalise-btn pull-right"
                                                    id="finalise-btn-{{ submission.recid }}"
                                                    data-recid="{{ submission.recid }}"
                                                    data-versions="{{ submission.versions }}">
                                                Finalise Submission
                                            </button>

                                        {% endif %}
                                    {% endif %}

                                    {% if submission.reviewer_message %}
                                        <span class="fa fa-comment pull-right"
                                              style="margin-top: 5px"></span>
                                    {% endif %}

                                    <button class="btn btn-sm btn-default pull-right manage-submission-trigger"
                                            data-recid="{{ submission.recid }}"
                                            data-toggle="modal"
                                            data-target="#manageWidget"><span
                                            class="fa fa-cogs"></span>
                                    </button>

                                    {% if submission.versions == 0 %}
                                        <button class="btn btn-sm btn-danger pull-right delete-submission-trigger"
                                                data-recid="{{ submission.recid }}"
                                                data-toggle="modal"
                                                data-target="#deleteWidget"
                                                style="margin-right: 5px;">
                                            <span class="fa fa-trash-o"></span>
                                        </button>
                                    {% endif %}

                                {% else %}
                                    <button class="btn btn-sm btn-default pull-right manage-submission-trigger"
                                            data-recid="{{ submission.recid }}"
                                            data-toggle="modal"
                                            data-target="#conversationDialog"><span
                                            class="fa fa-comment" s></span>
                                    </button>
                                {% endif %}

                                <span class="start_date pull-left"> Started on {{ submission.start_date.strftime('%Y-%m-%d at %H:%M') }}</span>
                            </div>

                            <div class="clearfix"></div>

                            <div class="content">

                                {% if submission.versions > 1 %}
                                    <span class="label label-warning pull-right">{{ submission.versions }} Versions</span>{% endif %}

                                <h4><a href="/record/{{ submission.recid }}" target="_blank">{{ submission.title }}</a>
                                </h4>

                                <br/>

                                <div class="row-fluid">

                                    {% if submission.review_flag == 'todo' %}
                                        <div class="no-uploads col-md-6" align="center">
                                            <br/>
                                            <img src="{{ url_for('static', filename='img/nodata.svg') }}"
                                                 alt="No data uploaded yet"
                                                 width="80px"/><br/>
                                            Nothing uploaded yet.
                                        </div>
                                    {% else %}
                                        <div class="submission-progress col-md-6"
                                             id="submission-{{ submission.recid }}"></div>
                                    {% endif %}


                                    <div class="{% if not user_is_admin %}user-submission-role{% else %}role-admin-view{% endif %} col-md-6">
                                        {% if not ctx.user_is_admin and not submission.show_coord_view %}
                                            <div align="center" style="padding-bottom: 100px">
                                                {% for role in submission.role %}
                                                    <span class="submission-{{ role }}"
                                                          style="margin-left: 3px">

                                    <span class="fa fa-{% if role == 'coordinator' %}gavel {% elif role == 'reviewer' %}check{% else %}upload{% endif %}"
                                          style="padding-right: 5px;"></span>{{ role }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}

                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tr class="submission-person">
                                                        <td class="title coordinator-title">Coordinator</td>
                                                        <td class="value coordinator-value">{{ submission.coordinator.name }}</td>
                                                        <td><a
                                                                href="mailto:{{ submission.coordinator.email }}?subject=Coordination of HEPdata submission for {{ submission.title }}">
                                                            <span class="email">email</span></a></td>
                                                    </tr>

                                                    <tr class="submission-person">
                                                        <td class="title uploader-title">Uploader</td>
                                                        <td class="value uploader-value">{{ submission.uploader.name }}</td>
                                                        <td><a
                                                                href="mailto:{{ submission.uploader.email }}?subject=Upload for HEPdata for {{ submission.title }}">
                                                            <span class="email">email</span></a></td>
                                                    </tr>

                                                    <tr class="submission-person">
                                                        <td class="title reviewer-title">Reviewer</td>
                                                        <td class="value reviewer-value">{{ submission.reviewer.name }}</td>
                                                        <td><a
                                                                href="mailto:{{ submission.reviewer.email }}?subject=Review for HEPdata for {{ submission.title }}">
                                                            <span class="email">email</span></a></td>
                                                    </tr>
                                                </table>
                                            </div>

                                        {% endif %}


                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="no_submissions">
                There are no submissions in progress.
            </div>
        {% endif %}


    </div>

    {% include 'hepdata_dashboard/manager-widget.html' %}
    {% include 'hepdata_dashboard/delete-widget.html' %}
    {% include 'hepdata_dashboard/reindex-widget.html' %}
    {% include 'hepdata_dashboard/conversation-widget.html' %}
    {% include 'hepdata_dashboard/finalise-widget.html' %}
    {% include 'hepdata_dashboard/inspire-widget.html' %}

{% endblock %}

{%- block javascript %}


    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {%- assets "hepdata_vis_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}

    {%- assets "hepdata_bootstrap_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}

    <script>

        $(document).ready(function () {
            MathJax.Hub.Config({
                tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
            });
            MathJax.Hub.Queue(["Typeset", MathJax.Hub]);

            var data = {{ctx.submission_stats | safe}};

            for (var submission_idx in data) {
                HEPDATA.visualization.pie.render(data[submission_idx]);
            }

            $(".filter-list li").bind('click', function () {
                var id_parts = this.id.split("-");
                var item_parent = id_parts[0];
                // we need to reset all of the items to unselected before selecting the new item.
                $("#" + item_parent + "-filter li").each(function () {
                    $(this).removeClass("filter-selected");
                    $(this).addClass("filter-inactive");
                });

                $(this).addClass("filter-selected");
                $(this).removeClass("filter-inactive");

                HEPDATA.current_filters[item_parent] = id_parts[1].replace("_", " ");
                $("#clear-" + item_parent).removeClass("hidden");
                HEPDATA.filter_content('', '#hep-submissions');
            });

            $(".finalise-btn").bind("click", function () {
                $("#finalise_submission_button").attr('data-recid', $(this).attr('data-recid'));
                $("#finalise_submission_button").attr('data-versions', $(this).attr('data-versions'));
                if ($(this).attr('data-versions') == 0) {
                    $("#revision_commit_message").addClass("hidden");
                }
                $("#finaliseDialog").modal();
            });

            $(".inspire-btn").bind("click", function () {
                $("#inspire-add-button").attr('data-recid', $(this).attr("data-recid"));
                $("#inspireDialog").modal();
            });

            $(".reindex-btn").bind("click", function () {
                $("#reindexDialog").modal();
            });

            $("[id^=clear]").bind('click', function () {
                var list = this.id.split("-")[1];
                HEPDATA.current_filters[list] = "";
                $("#clear-" + list).addClass("hidden");
                $("#" + list + "-filter li").each(function () {
                    $(this).removeClass("filter-selected filter-inactive");
                    HEPDATA.filter_content('', '#hep-submissions');
                });
            });
        });

    </script>
{% endblock %}
