<!-- Modal -->

<style>
    .inspire-abstract {
        font-size: .8em;
        color: #7f8c8d;
        height: 100px;
        overflow-y: auto;
        text-align: left;
    }

    .inspire-journal {
        font-weight: bolder;
    }
</style>
<div class="modal fade" id="inspireDialog" tabindex="-1" role="dialog"
     aria-labelledby="inspireDialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="codeDialogLabel">Add INSPIRE
                    ID</h4>
            </div>


            <div class="modal-body">

                <div align="center" id="inspire_entry">
                    <p>We can't finalise the submission until you've attached
                        the INSPIRE ID for the record.</p>

                    <p>Please enter the INSPIRE ID corresponding to this
                        submission.</p>
                    <br/>
                    <input type="number" id="inspire-id"
                           placeholder="e.g. 1203852" class="dark-input"
                           style="width: 200px;"/>
                    <button class="btn btn-md btn-primary disabled"
                            id="inspire-retrieve-button" data-recid="">
                        Retrieve
                        Record
                    </button>

                    <div id="inspire-result" style="margin-top: 20px;">
                    </div>

                </div>


                <div class="spinner hidden" id="inspire-retrieve-progress"
                     style="padding-top: 40px; padding-bottom: 40px">
                    <div class="ball ball-purple"></div>
                    <p>Retrieving INSPIRE Information...</p>
                </div>

                <div class="spinner hidden" id="inspire-add-progress"
                     style="padding-top: 40px; padding-bottom: 40px">
                    <div class="ball ball-purple"></div>
                    <p>Adding INSPIRE ID and Saving Information...</p>
                </div>


                <div align="center" class="hidden" id="success"
                     style="padding: 40px">
                    <div style="color: #4FBA6F; font-weight: bolder">
                        <span class="fa fa-check"
                              style="font-size: 3em"></span><br/>

                        <p>
                            INSPIRE Information Attached. Feel free to now
                            finalise your submission.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times; Close</span></button>

                <button class="btn btn-md btn-success hidden pull-right"
                        id="inspire-add-button" data-recid=""> Confirm
                </button>

            </div>

        </div>
    </div>
</div>

{%- assets "hepdata_submission_js" %}
        <script src="{{ ASSET_URL }}"></script>
{%- endassets %}

<script>

    $(document).on('click', '#inspire-retrieve-button', function () {
//            $("#inspire_retrieve_button_container").addClass("hidden");
        $("#inspire-result").removeClass("well well-sm");
        $("#inspire-result").html('');
        $("#inspire-retrieve-progress").removeClass("hidden");

        var inspire_id = $("#inspire-id").val();

        inspire_ds.get_inspire_data(inspire_id, inspire_ds.render_inspire_data);

    });

    $(document).on('click', '#inspire-add-button', function () {

        $("#inspire-result").addClass("hidden");
        $("#inspire-add-progress").removeClass("hidden");

        $.ajax({
            dataType: "json",
            method: 'POST',
            url: '/record/attach_information/' + $(this).attr('data-recid'),
            data: {'inspire_id': window.inspire_id},
            success: function (data) {
                if (data.status != 'success') {
                    alert("Error (" + data.status + ")! " + data.message)
                }
                setTimeout(function () {
                    window.location = "/dashboard";
                }, 1000);
            }
        });
    });

    $(document).on("keyup", "#inspire-id", function () {
        $("#inspire-retrieve-button").toggleClass("disabled", $(this).val() == '')
    })

</script>
