{% extends 'hepdata_theme/email/email_container.html' %}
{% block email_type %}
Record {{ article }} has been {{ 'revised' if version > 1 else 'created' }}
{% endblock %}


{% block email_content %}

    Dear {{ name }},

    <p>
      Version {{ version }} of submission <a href="{{ link }}" style="color: #9b59b6">{{ title }}</a> has been created
      by {{ actor }}{% if collaboration %} for {{ collaboration }}{% endif %}.
    </p>

    {% if uploaders %}
      {% for uploader in uploaders %}
        <p>Uploader: {{ uploader.full_name }} ({{ uploader.email }})</p>
      {% endfor %}
    {% endif %}

    {% if reviewers %}
      {% for reviewer in reviewers %}
      <p>Reviewer: {{ reviewer.full_name }} ({{ reviewer.email }})</p>
      {% endfor %}
    {% endif %}

    {% if observer_url %}
      <p>
        You can use this URL to allow any user observer access without special permissions:
        <br/>
        <a href="{{ observer_url }}">{{ observer_url }}</a>
      </p>
    {% endif %}

    <p>
    Thank you for contributing to HEPData!
    </p>

    <p>
    The <a href="{{ site_url }}" style="color: #9b59b6">HEPData</a> team
    </p>
{% endblock %}
