{% extends 'hepdata_theme/email/email_container.html' %}
{% block email_type %}
    Invite to be a {{ role }} of HEPData Record {{ recid }}
{% endblock %}


{% block email_content %}

    Hi {{ name }},

    <p>You have been requested to be a {{ role }} of a record in <a href="{{ site_url }}"
                                                                    style="color: #9b59b6">HEPData.net</a>
        {% if title %}entitled:

            <p style="font-weight: lighter; padding-left: 20px;">{{ title }}.</p>{% endif %}

    <p>This record is only accessible for editing once you access the link below after logging in to HEPData:</p>

    <a href="{{ site_url }}/permissions/assign/{{ invite_token }}" style="padding-left: 20px;">{{ site_url }}/permissions/assign/{{ invite_token }}</a>

    {% if role == 'uploader' %}

      <p>You can then upload from <a href="{{ site_url }}/record/{{ recid }}">{{ site_url }}/record/{{ recid }}</a>.</p>

      <p>Alternatively, upload from the command line after installing the <a href="https://pypi.org/project/hepdata-cli/">hepdata-cli</a> tool:</p>

      <p style="font-weight: lighter; padding-left: 20px;"><code>hepdata-cli upload /path/to/upload_file.tar.gz -e {{ email }} -r {{ recid }} -i {{ invite_token }} -s False</code></p>

      <p>
        Note that you first need to <a href="{{ site_url }}/signup/">sign up</a> for a HEPData account associated with email address {{ email }},
        confirm your email address, and assign permissions by clicking the link above containing your invitation cookie.
        If you have signed up with CERN/ORCID authentication, you will also need to <a href="{{ site_url }}/lost-password/">set a password</a>.
      </p>

    {% endif %}

    {% if message %}
        <p>
            <b>A message has been supplied by the coordinator. </b>
        </p>
        <div style="padding-left: 20px; white-space: pre-wrap;">
            <p>{{ message }}</p>
        </div>
    {% endif %}

    <p>
        The <a href="{{ site_url }}" style="color: #9b59b6">HEPData</a> team
    </p>
{% endblock %}
