{% extends 'hepdata_theme/email/email_container.html' %}
{% block email_type %}
    Invite to be a {{ role }} of a HEPData Record
{% endblock %}


{% block email_content %}

    Hi {{ name }},

    <p>You have been requested to be a {{ role }} of a record in <a href="{{ site_url }}"
                                                                    style="color: #9b59b6">HEPData.net</a>
        {% if title %}entitled:

            <p style="font-weight: lighter; padding-left: 20px;">{{ title }}.</p>{% endif %}

    <p>This record is only accessible for editing once you access the link below after logging in to HEPData</p>

    <a href="{{ site_url }}/permissions/assign/{{ invite_token }}" style="padding-left: 20px;">{{ site_url }}/dashboard/assign/{{ invite_token }}.</a>

    {% if message %}
        <p>
            <b>A message has been supplied by the coordinator. </b>
        </p>
        <div style="padding-left: 20px; white-space: pre-wrap;">
            <p>{{ message }}</p>
        </div>
    {% endif %}

    <p>
        The <a href="{{ site_url }}" style="color: #9b59b6">HEPData</a> team
    </p>
{% endblock %}
