{% extends 'hepdata_theme/email/email_container.html' %}
{% block email_type %}
New Review Message for Record {{ article }}
{% endblock %}

{% block email_content %}

    Hi {{ name }},

    <p>{{ table_name }} in <a href="{{ link }}" style="color: #9b59b6">{{ title }}</a> has a new comment
        from {{ actor }}.</p>

    <p style="font-weight: bolder">Message:</p>
    <p style="padding-left: 20px; font-weight: lighter; white-space: pre-wrap;">{{ table_message }}</p>

    <p>You can view the table <a href="{{ table_link }}" style="color: #9b59b6">here</a>.
    </p>

    <p>
        The <a href="{{ site_url }}" style="color: #9b59b6">HEPData</a>
        team
    </p>
{% endblock %}
