{% extends 'hepdata_theme/email/email_container.html' %}
{% block email_type %}
    {% if cookie %}
        Invitation to Review a HEPData Record {{ article }}
    {% else %}
        New Data Upload for Record {{ article }}
    {% endif %}
{% endblock %}

{% block email_content %}

    Hi {{ name }},

    {% if invite_token %}
        <p>You have been added as a reviewer for a HEPData record. You can only review the article once you access the link below <strong>after logging in to HEPData</strong></p>
        <a href="{{ site_url }}/permissions/assign/{{ invite_token }}" style="padding-left: 20px;">{{ site_url }}/permissions/assign/{{ invite_token }}</a>
    {% endif %}

    <br/><br/>

    <p><a href="{{ link }}" style="color: #9b59b6">{{ title }}</a> has a new upload from {{ actor }}. </p>

    {% if message %}
        <p style="font-weight: bolder">Message:</p>
        <p style="padding-left: 20px; font-weight: lighter; white-space: pre-wrap;">{{ message }}</p>
    {% endif %}

    <p>You can view the record <a href="{{ link }}" style="color: #9b59b6">here</a>.
    </p>

    <p>
        The <a href="{{ site_url }}" style="color: #9b59b6">HEPData</a> team
    </p>
{% endblock %}
