<div class="modal fade" id="citeModal" tabindex="-1" role="dialog" aria-labelledby="citeModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="citing">Citing this record</h4>
            </div>
            <div class="modal-body" id="codeDialogContents" style="padding: 0">

                {% if ctx.record %}
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#html" aria-controls="home" role="tab"
                                                                      data-toggle="tab">HTML</a></li>
                            <li role="presentation"><a href="#bibtex" aria-controls="profile" role="tab"
                                                       data-toggle="tab">BibTeX</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            {% if ctx.record.hepdata_doi != 'None' %}
                              {% if ctx.version_count > 1 %}
                                {% set hepdata_doi = ctx.record.hepdata_doi.rsplit('.', 1)[0] %}
                              {% else %}
                                {% set hepdata_doi = ctx.record.hepdata_doi %}
                              {% endif %}
                              {% set key = hepdata_doi.split('/', 1)[1] %}
                            {% else %}
                              {% set key = 'hepdata.' + ctx['recid']|string %}
                              {% set hepdata_doi = '10.17182/' + key %}
                            {% endif %}

                            {% if ctx.record_type == 'publication' %}
                              {% set tables_to_show = ctx.data_tables %}
                              {% set resources_to_show = ctx.resources_with_doi %}
                            {% else %}
                              {% set tables_to_show = [] %}
                              {% set resources_to_show = [] %}
                              {% if ctx.record_type == 'table' %}
                                {% for t in ctx.data_tables %}
                                  {% if t.id == ctx.table_id_to_show %}
                                    {% set _ = tables_to_show.append(t) %}
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                {% for r in ctx.resources_with_doi %}
                                  {% if r.doi == ctx.resource.doi %}
                                    {% set _ = resources_to_show.append(r) %}
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                            {% endif %}

                            <div role="tabpanel" class="tab-pane in active" id="html">
                                <div class="citation-panel">
                                    <p>When using this data, please cite the original publication:</p>

                                    <div class="well well-small" style="background: white">
                                        {% include "hepdata_records/components/cite/publication.html" %}
                                    </div>

                                    <p>Additionally, you should cite the <img
                                            src="{{ url_for('static', filename='img/hepdata_logo.svg') }}" height="30">
                                        record:
                                    </p>
                                    <div class="well well-small" style="background: white">
                                        {% if ctx.record.collaborations %}
                                              {% for collaboration in ctx.record.collaborations %}
                                                {% if loop.index > 1 %}&{% endif %}
                                                  {{ collaboration }}{% endfor %}
                                              Collaboration{% if ctx.record.collaborations|length > 1 %}s{% endif %}
                                            ({{ ctx.record.last_updated.year }}).
                                        {% else %}
                                            {% for author in ctx.record.summary_authors %}
                                                {{ author.full_name }}
                                                {% if loop.index < ctx.record.summary_authors|length %},
                                                {% else %} (
                                                    {{ ctx.record.last_updated.year }}){% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <p>{{ ctx.record.title }}. HEPData (collection).</p>
                                        <p><strong>https://doi.org/{{ hepdata_doi }}</strong></p>
                                    </div>

                                    <p>or, if you prefer, a specific version of the <img
                                            src="{{ url_for('static', filename='img/hepdata_logo.svg') }}" height="30">
                                        record:
                                    </p>
                                    <div class="well well-small" style="background: white">
                                        {% if ctx.record.collaborations %}
                                              {% for collaboration in ctx.record.collaborations %}
                                                {% if loop.index > 1 %}&{% endif %}
                                                  {{ collaboration }}{% endfor %}
                                              Collaboration{% if ctx.record.collaborations|length > 1 %}s{% endif %}
                                            ({{ ctx.record.last_updated.year }}).
                                        {% else %}
                                            {% for author in ctx.record.summary_authors %}
                                                {{ author.full_name }}
                                                {% if loop.index < ctx.record.summary_authors|length %},
                                                {% else %} (
                                                    {{ ctx.record.last_updated.year }}){% endif %}
                                            {% endfor %}
                                        {% endif %}
                                      <p>{{ ctx.record.title }} (Version {{ ctx.version }}). HEPData (collection).</p>
                                        <p><strong>https://doi.org/{{ hepdata_doi }}.v{{ ctx.version }}</strong></p>
                                    </div>

                                    {% if tables_to_show or resources_to_show %}
                                      <p>
                                        {% if ctx.record_type == 'publication' %}
                                          You can also cite the {{ tables_to_show|length }} data
                                          table{% if tables_to_show|length > 1 %}s{% endif %}
                                          {% if resources_to_show %}
                                            or the {{ resources_to_show|length }} additional
                                            resource{% if resources_to_show|length > 1 %}s{% endif %}
                                          {% endif %}
                                          individually.
                                        {% else %}
                                          You can also cite this {{ ctx.record_type }} directly.
                                        {% endif %}
                                      </p>

                                      {% if ctx.record_type == 'publication' %}
                                        <h4>Data tables</h4>

                                        <p>
                                          Choose table:
                                          <select onchange="$('.table-cite-html').hide();$('#table_cite_html_' + this.value).show()">
                                          {% for table in tables_to_show %}
                                            <option value="{{ loop.index }}">{{ table.name }}</option>
                                          {% endfor %}
                                          </select>
                                        </p>
                                      {% endif %}

                                      {% for table in tables_to_show %}
                                          <div class="well well-small table-cite-html" id="table_cite_html_{{ loop.index }}"{% if loop.index > 1 %} style="display:none"{% endif %}>
                                              {% if ctx.record.collaborations %}
                                                    {% for collaboration in ctx.record.collaborations %}
                                                        {% if loop.index > 1 %}&{% endif %}
                                                        {{ collaboration }}{% endfor %}
                                                    Collaboration{% if ctx.record.collaborations|length > 1 %}s{% endif %}
                                                  ({{ ctx.record.last_updated.year }}).
                                              {% else %}
                                                  {% for author in ctx.record.authors %}
                                                      {{ author.full_name }}
                                                      {% if loop.index < ctx.record.authors|length %},
                                                      {% else %} ({{ ctx.record.last_updated.year }})
                                                      {% endif %}
                                                  {% endfor %}
                                              {% endif %}
                                              <p>&ldquo;{{ table.name }}&rdquo; of &ldquo;{{ ctx.record.title }}&rdquo; (Version {{ ctx.version }}). HEPData (dataset).</p>
                                              <p><strong>https://doi.org/{{ table.doi }}</strong></p>
                                          </div>
                                      {% endfor %}

                                    {% endif %}

                                    {% if resources_to_show %}
                                      {% if ctx.record_type == 'publication' %}
                                        <h4>Additional resources</h4>

                                        <p>
                                          Choose resource:
                                          <select onchange="$('.resource-cite-html').hide();$('#resource_cite_html_' + this.value).show();">
                                          {% for resource in resources_to_show %}
                                            <option value="{{ loop.index }}">{{ resource.filename }}</option>
                                          {% endfor %}
                                          </select>
                                        </p>
                                      {% endif %}

                                      {% for resource in resources_to_show %}
                                        <div class="well well-small resource-cite-html" id="resource_cite_html_{{ loop.index }}"{% if loop.index > 1 %} style="display:none"{% endif %}>
                                            {% if ctx.record.collaborations %}
                                                  {% for collaboration in ctx.record.collaborations %}
                                                      {% if loop.index > 1 %}&{% endif %}
                                                      {{ collaboration }}{% endfor %}
                                                  Collaboration{% if ctx.record.collaborations|length > 1 %}s{% endif %}
                                                ({{ ctx.record.last_updated.year }}).
                                            {% else %}
                                                {% for author in ctx.record.authors %}
                                                    {{ author.full_name }}
                                                    {% if loop.index < ctx.record.authors|length %},
                                                    {% else %} ({{ ctx.record.last_updated.year }})
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            <p>&ldquo;{{ resource.filename }}&rdquo; of &ldquo;{{ ctx.record.title }}&rdquo; (Version {{ ctx.version }}). HEPData (other).</p>
                                            <p><strong>https://doi.org/{{ resource.doi }}</strong></p>
                                        </div>
                                      {% endfor %}
                                    {% endif %}
                                </div>

                            </div>

                            <div role="tabpanel" class="tab-pane" id="bibtex">
                                <div class="citation-panel">
                                    <p>When using this data, please cite the original publication:</p>

                                    <div class="well well-small" style="background: white">
                                        {% include "hepdata_records/components/cite/publication.html" %}
                                    </div>

                                    <p>Additionally, you should cite the <img
                                            src="{{ url_for('static', filename='img/hepdata_logo.svg') }}" height="30">
                                        record:
                                        <button class="btn btn-primary btn-sm cite-copy-btn pull-right" data-clipboard-target="#record_bibtex">
                                            <i class="fa fa-copy" alt="Copy to clipboard"></i>
                                        </button>
                                    </p>
                                        {% set title = '"{' + ctx.record.title + '}"' %}
                                        {% if ctx.record.collaborations %}
                                          {% set author = "{" + "Collaboration} and {".join(ctx.record.collaborations) + " Collaboration}" %}
                                        {% elif ctx.record.summary_authors %}
                                          {% set author = ctx.record.summary_authors[0].full_name + " and others" %}
                                        {% endif %}
                                    <textarea readonly id="record_bibtex">@misc{{ "{" }}{{ key }},
    author = "{{ author }}",
    title = {{ title }},
    howpublished = "{HEPData (collection)}",
    year = {{ ctx.record.last_updated.year }},
    note = "\url{https://doi.org/{{ hepdata_doi }}}"
}</textarea>

                                    <p>or, if you prefer, a specific version of the <img
                                                src="{{ url_for('static', filename='img/hepdata_logo.svg') }}" height="30">
                                            record:
                                        <button class="btn btn-primary btn-sm cite-copy-btn pull-right" data-clipboard-target="#versioned_record_bibtex">
                                            <i class="fa fa-copy" alt="Copy to clipboard"></i>
                                        </button>
                                        </p>
                                    {% set title = '"{' + ctx.record.title + ' (Version ' + ctx.version|string + ')}"' %}
                                    <textarea readonly id="versioned_record_bibtex">@misc{{ "{" }}{{ key }}.v{{ ctx.version }},
    author = "{{ author }}",
    title = {{ title }},
    howpublished = "{HEPData (collection)}",
    year = {{ ctx.record.last_updated.year }},
    note = "\url{https://doi.org/{{ hepdata_doi }}.v{{ ctx.version }}}"
}</textarea>

                                    {% if tables_to_show or resources_to_show %}
                                      {% if ctx.record_type == 'publication' %}
                                        <p>
                                          You can also cite the {{ tables_to_show|length }} data
                                          table{% if tables_to_show|length > 1 %}s{% endif %}
                                          {% if resources_to_show %}
                                            or the {{ resources_to_show|length }} additional
                                            resource{% if resources_to_show|length > 1 %}s{% endif %}
                                          {% endif %}
                                          individually.
                                        </p>
                                      {% else %}
                                          <p>
                                            <button class="btn btn-primary btn-sm cite-copy-btn pull-right" id="table_bibtex_copy_btn"
                                                    data-clipboard-target="#{{ 'table' if tables_to_show else 'resource'}}_bibtex_1">
                                                <i class="fa fa-copy" alt="Copy to clipboard"></i>
                                            </button>
                                          </p>
                                          <p>You can also cite this {{ ctx.record_type }} directly.</p>
                                      {% endif %}

                                      {% if ctx.record_type == "publication" %}
                                        <h4>Data tables</h4>
                                        <p>
                                          Choose table:
                                          <select onchange="$('.table-bibtex').hide();$('#table_bibtex_' + this.value).show();$('#table_bibtex_copy_btn').attr('data-clipboard-target', '#table_bibtex_' + this.value);">
                                          {% for table in tables_to_show %}
                                            <option value="{{ loop.index }}">{{ table.name }}</option>
                                          {% endfor %}
                                          </select>
                                          <button class="btn btn-primary btn-sm cite-copy-btn pull-right" id="table_bibtex_copy_btn" data-clipboard-target="#table_bibtex_1">
                                              <i class="fa fa-copy" alt="Copy to clipboard"></i>
                                          </button>
                                        </p>
                                      {% endif %}

                                      {% for table in tables_to_show %}
                                        {% set title = '"{``' +  table.name + '\'\' of ``' + ctx.record.title + '\'\' (Version ' + ctx.version|string + ')}"' %}
                                        {% if table.doi %}
                                            {% set key = table.doi.split('/', 1)[1] %}
                                        {% endif %}
                                      <textarea class="table-bibtex" id="table_bibtex_{{ loop.index }}" readonly{% if loop.index > 1 %} style="display:none"{% endif %}>@misc{{ "{" }}{{ key }},
      author = "{{ author }}",
      title = {{ title }},
      howpublished = "{HEPData (dataset)}",
      year = {{ ctx.record.last_updated.year }},
      note = "\url{https://doi.org/{{ table.doi }}}"
  }</textarea>
                                      {% endfor %}
                                    {% endif %}

                                    {% if resources_to_show %}
                                      {% if ctx.record_type == 'publication' %}
                                        <h4>Additional resources</h4>

                                        <p>
                                          Choose resource:
                                          <select onchange="$('.resource-bibtex').hide();$('#resource_bibtex_' + this.value).show();$('#resource_bibtex_copy_btn').attr('data-clipboard-target', '#resource_bibtex_' + this.value)">
                                          {% for resource in resources_to_show %}
                                            <option value="{{ loop.index }}">{{ resource.filename }}</option>
                                          {% endfor %}
                                          </select>
                                          <button class="btn btn-primary btn-sm cite-copy-btn pull-right" id="resource_bibtex_copy_btn" data-clipboard-target="#resource_bibtex_1">
                                              <i class="fa fa-copy" alt="Copy to clipboard"></i>
                                          </button>
                                        </p>
                                      {% endif %}

                                      {% for resource in resources_to_show %}
                                        {% set title = '"{``' +  resource.filename + '\'\' of ``' + ctx.record.title + '\'\' (Version ' + ctx.version|string + ')}"' %}
                                        {% if resource.doi %}
                                          {% set key = resource.doi.split('/', 1)[1] %}
                                        {% endif %}
                                        <textarea class="resource-bibtex" id="resource_bibtex_{{ loop.index }}" readonly{% if loop.index > 1 %} style="display:none"{% endif %}>@misc{{ "{" }}{{ key }},
    author = "{{ author }}",
    title = {{ title }},
    howpublished = "{HEPData (other)}",
    year = {{ ctx.record.last_updated.year }},
    note = "\url{https://doi.org/{{ resource.doi }}}"
}</textarea>
                                      {% endfor %}

                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
