<!-- Modal -->
<div class="modal fade" id="codeDialog" tabindex="-1" role="dialog"
     aria-labelledby="codeDialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title code-viewer-title" id="codeDialogLabel">Resource File</h4>
            </div>

            <div class="modal-body" id="codeDialogContents">
                <p id="file-description"></p>

                <div id="code">
                    <textarea id="code-contents"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="file_download_btn" type="button" class="btn btn-primary">Download File
                </a>
            </div>
        </div>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css" rel="stylesheet">

<script>

    $(document).on('click', '.support-file', function () {
        $.ajax({
            dataType: "json",
            url: '/record/resource/' + $(this).attr('data-file-id'),
            processData: false,
            cache: true,
            success: function (data) {


                $("#file-description").html(data.description);
                $(".code-viewer-title").text(data.type.toUpperCase() + " File");
                var image_file_types = ["png", "jpeg", "jpg", "tiff", "gif"];

                if (image_file_types.indexOf(data.type.toLowerCase()) != -1) {
                    $("#code").html('<img src="' + data.location + '" width="100%"></img>');
                } else if (data.type == 'root') {
                    $("#codeDialogLabel").html('ROOT');
                    $("#code").html('We can\'t display ROOT files at present. But you can download it!');
                } else {
                    $("#code").html('<textarea id="code-contents"></textarea>');
                    $("#code-contents").val(data.file_contents);
                }

                $("#file_download_btn").attr('href', data.location);

                $('#codeDialog').modal('show');
                $("#code").focus();
            },
            error: function (error) {
                $("#code").html('We can\'t display this type of file at present. But you can download it!');
                $('#codeDialog').modal('show');
            }
        });
    });
</script>
