<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="additionalResource">Additional Publication Resources</h4>
            </div>

            <div class="modal-body" id="codeDialogContents">
                <p>Here you'll find any code, additional papers, etc. relating to the entire publication.</p>

                <div class="clearfix"></div>

                <div class="row-fluid">
                    <div class="col-md-4" id="resource-list">
                        <ul></ul>
                    </div>
                    <div class="col-md-8" id="resource-detail" style="overflow: scroll; height: 500px;"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

