<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="additionalResource">Additional Publication Resources</h4>
            </div>

            <div class="modal-body" id="resource-modal-contents">
                <p class="text-center">Here you'll find any code, additional papers, etc. relating to the entire publication.</p>

                <div class="clearfix"></div>

                <div class="container-fluid">
                    <div class="row" id="resource-list">
                        <!-- automatically populated -->
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

