{% if not ctx.show_review_widget or ctx.status == 'finished' %}
    <style>
        .reviews-view {
            height: 500px;
        }
    </style>
{% endif %}

<span id="reviewer-button"
      class="slider-option review-option table-show "><span
        class="fa fa-comment"></span></span>

<div class="reviews-view" align="center">

    {% if (ctx.show_review_widget or ctx.is_submission_coordinator_or_admin) and ctx.status != 'finished' and ctx.version >= ctx.version_count %}
        <div class="review">
            <h4>Review Summary</h4>
            <br/>

            <div id="review-status" align="center">
                <span id="todo-option" class="review-status todo deactivate">Todo</span>
                <span id="attention-option"
                      class="review-status attention deactivate">Attention Required</span>
                <span id="passed-option"
                      class="review-status passed">Passed</span>
            </div>

            <p style="font-size: .65em; padding-top: 4px"><span
                    style="font-weight: bolder;">Todo</span> Ctrl+1, <span
                    style="font-weight: bolder;">Attention Required</span>
                Ctrl+2, <span style="font-weight: bolder;">Passed</span> Ctrl +
                3</p>
        </div>

        <br/>
    {% else %}

        {% if ctx.status == 'finished' %}
            <div class="alert alert-success">The review for this article is
                complete. You can still view the discussion here, but cannot
                add anything more.
            </div>
        {% endif %}
    {% endif %}


    <h4>Conversation</h4>
    <br/>

    <div class="message-container" id="review_messages">
        <!--will be populated automatically-->
    </div>

    {% if ctx.status != 'finished' %}
        <div class="text_status">
            <textarea class="input_box form-control" id="message"
                      style="height: 10%;"
                      placeholder="Send feedback on this data..."></textarea>
        </div>

        <br/>


        <div id="send" align="center">
            <button class="btn btn-primary" disabled="true" id="save_no_email">
                <span class="fa fa-floppy-o"></span> Save (no email)
            </button>
            <button class="btn btn-primary" disabled="true" id="save_and_email">
                <span class="fa fa-paper-plane"></span> Save and email
            </button>
        </div>
        <div class="clear"></div>
    {% endif %}
</div>
