<div id="hepdata_table_detail" class="scrollable {{ table_details_class }}">

    {% if ctx.revision_message %}
        <div class="alert alert-info"><strong>Version {{ ctx.revision_message.version }}
            modifications:</strong> {{ ctx.revision_message.message }}</div>
    {% endif %}

    <div class="nice-dropdown" id="table-selector">
        <select style="width: 100%" onchange="HEPDATA.switch_table('#table-list',$(this).val(),'','{{ctx.status}}')">
            {% for table in ctx.data_tables %}
                <option value="{{ table.id }}">{{ table.name | replace('$','') }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="hepdata_table_loader" style="width: 200px; height: 200px; margin: 0 auto">
        <div id="hepdata_table_loading">
            <div id="table_loader"></div>
            <p align="center" style="font-weight: bolder; color: #2C3E50; padding-top: 0px">Loading Data...</p>
        </div>
        <div id="hepdata_table_loading_failed" class="hidden">
            <p id="hepdata_table_loading_failed_text" align="center" style="font-weight: bolder; color: #2C3E50; padding-top: 0px"></p>
            <p align="center">Please try again later, or email info@hepdata.net if this error persists.</p>
        </div>
    </div>

    <div id="hepdata_table_content" class="hidden">
        <div class="hepdata_table_detail_header">
            <div>
                <h4>

                    <div id="table_name" class="pull-left" style="padding-top: 7px;"></div>
                    {% if ctx.mode != 'sandbox' %}
                        <div id="table_doi" style="padding-top: 7px;" class="pull-left"><div id="table_doi_contents"></div></div>
                    {% endif %}


                <a href="" class="pull-right btn btn-link btn-sm" id="json_link">JSON</a>
                    <div class="dropdown pull-right">
                        <button id="dLabelData"
                                type="button"
                                class="btn btn-default"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="fa fa-download"></i>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dLabelData">
                            <li>
                                <a href="#"
                                   class="data_download_link"
                                   id="download_yaml_data">YAML</a>
                            </li>
                            <li>
                                <a href="#"
                                   class="data_download_link"
                                   id="download_yoda_data">YODA</a>
                            </li>
                            <li>
                                <a href="#"
                                   class="data_download_link"
                                   id="download_root_data">ROOT</a>
                            </li>
                            <li>
                                <a href="#"
                                   class="data_download_link"
                                   id="download_csv_data">CSV</a>
                            </li>
                        </ul>
                    </div>

                     {% if ctx.mode != 'sandbox' %}
                        <div class="pull-right" id="data_link_container">
                            <input id="direct_data_link" value="" disabled>
                            <button class="btn btn-small copy-btn" data-clipboard-text="">
                                <i class="fa fa-copy" alt="Copy to clipboard"></i>
                            </button>
                        </div>
                    {% endif %}



                    <span class="pull-right" id="support-files" style="margin-right: 20px; margin-top:1px"></span>
                </h4>
                <div class="clearfix"></div>
                <p id="table_location"></p>
            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="row">
                <div class="col-md-9 col-sm-10">
                    <p id="table_description"></p>
                </div>
                <div id="figures" class="col-md-3 col-sm-2"></div>
            </div>


            <div class="clearfix"></div>
            <div id="table_keywords">
                <div class="row-fluid"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <br/>

        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <div class="row">

            <div id="hep_table_data" class="col-md-7 hidden-xs">
                <div id="table_options_region"></div>
                <div id="table_section">
                    <table class="table table-bordered table-hover">
                        <tbody id="data_table_region">
                        <!--will be populated automatically-->
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="hep_table_chart" class="col-md-5 ">
                <h4>Visualize</h4>

                <div id="data_visualization_region">

                </div>

                <div id="legend" class="legend-container">

                </div>
            </div>


        </div>


    </div>

</div>
