<!-- Modal -->
{% if ctx.record %}
    <div class="modal fade" id="uploadDialog" tabindex="-1" role="dialog"
         aria-labelledby="codeDialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="codeDialogLabel">
                        {% if ctx.status != 'finished' %}Upload a new submission
                            File{% else %}Revise your submission{% endif %}</h4>
                </div>

                <div class="modal-body">
                    <div align="center" style="width: 100%; margin: 0 auto" id="upload-area">
                        <div class="alert alert-warning">
                            {% if ctx.status != 'finished' %}Uploading a new
                                submission will replace your other files.
                            {% else %}
                                <strong>This submission is already
                                    finished.</strong><br/>Uploading a new file
                                will create a new version, and will require
                                approval by the submission coordinator before
                                being available publicly.
                            {% endif %}
                        </div>

                        <div class="upload-form">
                            <form style="width: 80%"
                                  action="{% if ctx.mode == 'sandbox' %}/record/sandbox/{{ ctx.recid }}/consume{% else %}/record/{{ ctx.recid }}/consume{% endif %}"
                                  method="post"
                                  name="upload-form-modal"
                                  enctype=multipart/form-data>
                                <input type="file" name="hep_archive"
                                       id="file_upload_field"
                                       data-iconName="fa fa-upload"
                                       class="filestyle">
                                <br/>
                                <input type="submit" value="Upload and Process"
                                       class="btn btn-primary btn-lg"
                                       onclick="hepdata_record.perform_upload_action('#upload-area', 'upload-form-modal')">
                            </form>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        try {
            $("#file_upload_field").filestyle({
                iconName: "fa fa-upload",
                buttonName: "btn-primary"
            });
        } catch (err) {

        }

    </script>

{% endif %}
