<div class="info">

    <p>
        Upload an archive (<strong>.zip</strong>, <strong>.tar</strong>, <strong>.tar.gz</strong>, <strong>.tgz</strong>) containing
        <a href="http://yaml.org/" target="_blank">YAML</a> files formatted according to these
        <a href="https://github.com/HEPData/hepdata-submission" target="_blank">guidelines</a>.
        An example submission archive is available
        <a href="https://github.com/HEPData/hepdata-submission/raw/master/examples/submission/TestHEPSubmission.zip"
           target="_blank">here</a>.  You can validate your YAML files offline using
        <a href="https://raw.githubusercontent.com/HEPData/hepdata-submission/master/scripts/check.py" target="_blank">this script</a>.
    </p>

    <p class="text-muted">
        We also accept a <strong>single YAML</strong> file (.yaml or .yaml.gz) containing all of the submission data.
        For records uploaded to the old <a href="http://hepdata.cedar.ac.uk" target="_blank">HepData</a> site,
        this format can be obtained automatically by appending "/yaml" to the old record URL.
    </p>

    <p class="text-muted">
        Alternatively, upload a single text file with extension <strong>.oldhepdata</strong> containing
        the "input" format that was used for data submissions from the old <a
                href="http://hepdata.cedar.ac.uk" target="_blank">HepData</a> site (see
        <a href="https://raw.githubusercontent.com/HEPData/hepdata-submission/master/examples/oldhepdata/sample.oldhepdata"
           target="_blank">sample</a>).
    </p>

</div>
