{% if ctx.version_count and ctx.version_count > 1 %}

    <div class="dropdown">
        <button id="dLabel" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="width: 100%">
            Version {{ ctx.version }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel"
            style="height: auto; overflow: auto;padding: 5px; font-size: 1em;">
            {% for version in range(1,ctx.version_count+1) %}
                <li>
                    <a href="/record/{% if ctx.mode == 'sandbox' %}sandbox/{% endif %}{{ ctx.recid }}?version={{ version }}"
                       id="version_{{ version }}">Version
                        {{ version }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endif %}
