{% if ctx.record.collaborations %}
    <p><i>The
        {% for collaboration in ctx.record.collaborations %}
          {% if loop.index > 1 %}&{% endif %}
            {{ collaboration }}{% endfor %}
        collaboration{% if ctx.record.collaborations|length > 1 %}s{% endif %}
      ({{ ctx.record.year }})</i>.</p>
{% else %}
    {% for author in ctx.record.authors %}
        {{ author.full_name }}{% if loop.index < ctx.record.authors|length %},
        {% else %} (
            {{ ctx.record.year }}){% endif %}
    {% endfor %}
{% endif %}
<p>{{ ctx.record.title }}. {{ ctx.record.journal_info|trim }}.</p>
<p><strong>https://doi.org/{{ ctx.record.doi }}</strong></p>

<a href="https://inspirehep.net/literature/{{ ctx.record.inspire_id }}" class="btn btn-default btn-sm" target="_new">View
    Inspire Record</a>
<a href="https://inspirehep.net/api/literature/{{ ctx.record.inspire_id }}?format=bibtex" class="btn btn-default btn-sm"
   target="_new">Download BibTeX from Inspire</a>
