{% extends "hepdata_theme/page.html" %}

{#
{% set title = title %}
#}
{% block title %}
    HEPData | {{ ctx.record.name }}
{% endblock %}

{%- block additional_assets %}

    {%- assets "hepdata_record_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {%- endassets %}

{%- endblock additional_assets %}

{% block page_description %}{{ ctx.record.title }}{% endblock %}

{% block page_body %}

    <div class="hep-content" style="padding-top: 65px">

        <div class="validation-error">
            <span class="fa fa-exclamation-triangle" style="font-size: 3.4em"></span>
            <h4>{% if header_message %}
                {{ header_message }}
            {% else %}
                Validation error encountered
            {% endif %}
            </h4>

            <p class="instructions">
                {% if message %}
                    {{ message }}
                {% else %}
                    A number of errors were encountered by our
                    <a href="https://github.com/HEPData/hepdata-validator" target="_blank">validation</a> code.
                    Our validation ensures that your submission files match the format described
                    <a href="https://github.com/HEPData/hepdata-submission" target="_blank">here</a>.
                    You can validate your YAML files offline using
                    <a href="https://raw.githubusercontent.com/HEPData/hepdata-submission/master/scripts/check.py" target="_blank">this script</a>.
                {% endif %}
                {% if redirect_url %}
                  <p class="instructions" style="font-weight: bolder">Please fix your submission and reupload via
                    the associated <a href="{{ redirect_url }}" target="_blank">record</a> page.</p>
                {% endif %}
            </p><br/>


            <br/>
            {% for file, file_errors in errors.items() %}
                <p class="file-name">{{ file }}</p>
                {% for error in file_errors %}
                    <div class="validation-error-message-block">
                        <div class="error-type pull-left">{{ error.level }}</div>
                        <div class="error-message pull-right">{{ error.message|safe }}</div>
                        <div class="clearfix"></div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
