<div id="facetparent" class="col-md-2" xmlns="http://www.w3.org/1999/html">


    {% for facet in ctx.facets %}
        <div id="{{ facet.type }}-facet" class="facet-type">
            <h4> {{ facet.printable_name }} {% if ctx.filters[facet.type] %}
                <a class="facet-option facet-more pull-right" style="font-size: .8em" href={{ ctx.modify_query('.search',
                    **{facet.type: None}) }}>
                                    Reset
                                </a>
                    {% endif %}</h4>


            {% if facet.type == 'date' %}

                <div id="year_hist">
                </div>
                <div id="year_select">
                </div>

            {% else %}

                {% if facet.type == 'author' %}
                    <input name="q"
                           id="author-suggest"
                           placeholder="Search authors"
                           class="typeahead author-search"
                           type="text"
                           onclick="">
                {% endif %}

                {% set current_value = ctx.filters[facet.type] %}
                <ul class="list-group">
                {% for fval in facet.vals %}
                    <li class="list-group-item
                    {% if loop.index > facet.max_values %}
                        hidden
                    {% endif %}">
                        {% if fval.key == current_value %}
                            <strong>
                                <a href={{ ctx.modify_query('.search', page='1', **{facet.type: None}) }}>
                                    <i class="fa fa-times small"></i>
                                </a>
                                {% include 'hepdata_search/facet_link.html' %}
                            </strong>
                        {% else %}
                            {% include 'hepdata_search/facet_link.html' %}
                        {% endif %}
                    </li>
                {% endfor %}

                {% if facet.vals|length > facet.max_values %}
                    <div class="facet-options">
                        <a class="facet-option facet-reset" style="display: none"
                           onclick="reset_facet('{{ facet.type }}')">
                            Reset
                        </a>

                        <a class="facet-option facet-all"
                           onclick="show_more_facets('{{ facet.type }}', -1)">
                            Show All
                        </a>

                        <a class="facet-option facet-more"
                           onclick="show_more_facets('{{ facet.type }}', 5)">
                            Next 5
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            </ul>
        </div>
    {% endfor %}
</div>

{%- assets "hepdata_search_js" %}
    <script src="{{ ASSET_URL }}"></script>
{%- endassets %}


<script type="text/javascript">
    var authors = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/search/authors?q=%QUERY',
            wildcard: '%QUERY',
            transform: function (json) {
                return $.map(json.results, function (author) {
                    return author.full_name;
                });
            }
        }
    });

    $('#author-suggest').typeahead(
            {highlight: true},
            {valueKey: 'symbol', source: authors}
    );

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    $('.typeahead').bind('typeahead:select', function (ev, suggestion) {
        window.location.href = updateQueryStringParameter(window.location.href,
                'author',
                suggestion);
    });

    function show_more_facets(facet_type, show_number) {
        var facet_id = "#" + facet_type + "-facet";
        var facets = $(facet_id + " li:not(:visible)");

        if (show_number == -1) {
            facets.slice(0).removeClass("hidden");
            $(facet_id + " .facet-more").hide();
            $(facet_id + " .facet-all").hide();

        } else {
            facets.slice(0, show_number).removeClass("hidden");
            if (facets.size() <= show_number) {
                $(facet_id + " .facet-more").hide();
                $(facet_id + " .facet-all").hide();
            }
        }
        $(facet_id + " .facet-reset").show();
    }

    // due to the added complexity of showing all year values, we need to pass state to the visualization
    // component to tell it what the current selection was
    var selection_range;
    {% if ctx.min_year %}
        selection_range = {'min':{{ ctx.min_year }}, 'max':{{ ctx.max_year }}};
    {% endif %}

    console.log(selection_range);

    search_utils.render_histogram('#year_hist', {{ ctx.year_facet|safe }}, {
        width: 210,
        height: 70,
        selection_range: selection_range
    }, function (data) {
        var date_str = data.join([separator = ',']);
        window.location.href = updateQueryStringParameter(window.location.href, 'date', date_str)
    });

    function reset_facet(facet_type) {
        var facet_id = "#" + facet_type + "-facet";
        var facets = $(facet_id + " li");
        facets.slice(5).addClass("hidden");
        $(facet_id + " .facet-reset").hide();
        $(facet_id + " .facet-more").show();
        $(facet_id + " .facet-all").show();
    }
</script>
