<div id="facetparent" class="col-md-2" xmlns="http://www.w3.org/1999/html">


    {% for facet in ctx.facets %}
        <div id="{{ facet.type }}-facet" class="facet-type">
            <h4> {{ facet.printable_name }} {% if ctx.filters[facet.type] %}
                <a class="facet-option facet-more pull-right" style="font-size: .8em" href={{ ctx.modify_query('.search',
                    **{facet.type: None}) }}>
                                    Reset
                                </a>
                    {% endif %}</h4>


            {% if facet.type == 'date' %}

                <div id="year_hist">
                </div>
                <div id="year_select">
                </div>

            {% else %}

                {% if facet.type == 'author' %}
                    <input name="q"
                           id="author-suggest"
                           placeholder="Search authors"
                           class="typeahead author-search"
                           type="text"
                           onclick="">
                {% endif %}

                {% set current_value = ctx.filters[facet.type] %}
                <ul class="list-group">
                {% for fval in facet.vals %}
                    <li class="list-group-item
                    {% if loop.index > facet.max_values %}
                        hidden
                    {% endif %}">
                        {% if fval.key == current_value %}
                            <strong>
                                <a href={{ ctx.modify_query('.search', page='1', **{facet.type: None}) }}>
                                    <i class="fa fa-times small"></i>
                                </a>
                                {% include 'hepdata_search/facet_link.html' %}
                            </strong>
                        {% else %}
                            {% include 'hepdata_search/facet_link.html' %}
                        {% endif %}
                    </li>
                {% endfor %}

                {% if facet.vals|length > facet.max_values %}
                    <div class="facet-options">
                        <a class="facet-option facet-reset" style="display: none"
                           onclick="HEPDATA.hepdata_search_facets.reset_facet('{{ facet.type }}')">
                            Reset
                        </a>

                        <a class="facet-option facet-all"
                           onclick="HEPDATA.hepdata_search_facets.show_more_facets('{{ facet.type }}', -1)">
                            Show All
                        </a>

                        <a class="facet-option facet-more"
                           onclick="HEPDATA.hepdata_search_facets.show_more_facets('{{ facet.type }}', 5)">
                            Next 5
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            </ul>
        </div>
    {% endfor %}
</div>

{{ webpack['hepdata-search-js.js'] }}
{{ webpack['hepdata-search-facets-js.js'] }}

<script type="text/javascript">

    // due to the added complexity of showing all year values, we need to pass state to the visualization
    // component to tell it what the current selection was
    var selection_range;
    {% if ctx.min_year %}
        selection_range = {'min':{{ ctx.min_year }}, 'max':{{ ctx.max_year }}};
    {% endif %}

    HEPDATA.hepdata_search_facets.render_histogram('#year_hist', {{ ctx.year_facet|safe }}, {
        width: 210,
        height: 70,
        selection_range: selection_range
    }, function (data) {
        var date_str = data.join([separator = ',']);
        window.location.href = HEPDATA.hepdata_search_facets.updateQueryStringParameter(window.location.href, 'date', date_str)
    });

</script>
