{% set max_authors = 3 %}

<div class="record-content">

    <div class="record-info row-fluid">

        {% if record.collaborations %}
            <span class="collaboration-group"> The
                {% for col in record.collaborations %}
                    {% if loop.index > 1 %}&{% endif %}
                    {% set link = ctx.modify_query('.search', collaboration=col) %}
                    <span class="info_group"> <a href={{ link }}> {{ col }} </a></span>
                {% endfor %} collaboration{% if record.collaborations|length > 1 %}s{% endif %}</span>
        {% endif %}

        {% if record.authors %}
            {% for author_name in record.authors[:max_authors] %}
                {% set link = ctx.modify_query('.search', author=author_name) %}
                <a href={{ link }}>
                    {{ author_name }}
                </a>;
            {% endfor %}
            {% if record.authors|length > max_authors %}
                <em>et al. </em>
            {% endif %}
        {% endif %}


        <div class="record-journal">
            {% include "hepdata_records/components/journal_info.html" %}
        </div>

        {% if record.inspire_id %}
            <span class="info-group">
                        <span class="hidden">https://inspirehep.net/literature/{{ record.inspire_id }}</span>
                        <i class="fa fa-file-text-o"></i> Inspire Record
                        <a href="https://inspirehep.net/literature/{{ record.inspire_id }}"
                           target="_blank"> {{ record.inspire_id }}</a>
                    </span>
        {% endif %}

        {% if record.hepdata_doi %}
            {% set doi_link = 'https://doi.org/' + record.hepdata_doi %}
            <span class="info-group">
                        <i class="fa fa-link"></i> DOI
                        <a href="{{ doi_link }}" title="DOI" target="_blank">{{ record.hepdata_doi }}</a>
                    </span>
            <span class="hidden">{{ doi_link }}</span>
        {% endif %}



        {% if record.abstract %}
            <p class="truncated-record-abstract" style="padding-top: 10px;">
                {{ record.abstract }}
            </p>
        {% endif %}

    </div>
</div>
