{% extends 'hepdata_dashboard/email/email_container.html' %}
{% block email_type %}
New Review Message for Record {{ article }}
{% endblock %}

{% block email_content %}

    Hi {{ name }},

    <p>{{ table_name }} in <a href="{{ link }}" style="color: #9b59b6">Record {{ article }}</a> has a new comment
        from {{ actor }}.</p>

    <p style="font-weight: bolder">Message:</p>
    <p style="padding-left: 20px; font-weight: lighter">{{ table_message }}</p>

    <p>You can view the submission <a href="{{ link }}" style="color: #9b59b6">here</a>.
    </p>

    <p>
        The <a href="http://www.hepdata.net" style="color: #9b59b6">HEPData</a>
        team
    </p>
{% endblock %}
