{% extends 'hepdata_dashboard/email/email_container.html' %}
{% block email_type %}
    New Data Upload for Record {{ article }}
{% endblock %}

{% block email_content %}

    Hi {{ name }},

    <p><a href="{{ link }}" style="color: #9b59b6">Record {{ article }}</a> has a new upload from {{ actor }}. </p>

    <p>You can view it <a href="{{ link }}" style="color: #9b59b6">here</a>.
    </p>

    <p>
        The <a href="http://www.hepdata.net" style="color: #9b59b6">HEPData</a>
        team
    </p>
{% endblock %}
